.accounting-wrapper .accounting-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 64px;
}
.accounting-wrapper .accounting-container .accounting-guide {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  gap: 40px;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  padding-left: 64px;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .content .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .content .title div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 90%;
  /* 57.6px */
  margin-top: 64px;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .content .title div:last-child {
  color: #616161;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 68%;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .content .leave-a-request {
  cursor: pointer;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  width: 73%;
  flex-shrink: 0;
  background: #191C38;
  color: #FFF;
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .image {
  flex: 1;
}
.accounting-wrapper .accounting-container .accounting-guide .accounting-baner .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.accounting-wrapper .accounting-container .accounting-guide .guide-blocks {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  padding: 0 64px;
}
.accounting-wrapper .accounting-container .accounting-guide .guide-blocks .guide-block {
  display: flex;
  background: #FFF;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.accounting-wrapper .accounting-container .accounting-guide .guide-blocks .guide-block div {
  color: #1F1E1E;
  font-family: HelveticaBold, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 30px; /* 150% */
  font-weight: 400;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment {
  padding: 0px 64px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .title div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 57.6px */
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .title div:last-child {
  color: #707070;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container {
  width: 100%;
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  gap: 48px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  width: 50%;
  background: #FFF;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .content .count {
  color: #D3D3D3;
  font-family: HelveticaBold;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:first-child {
  color: #000;
  font-family: HelveticaBold;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:last-child {
  color: #4B4B4B;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-top: 20px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .image {
  width: 50%;
  background-color: #fff;
  padding: 24px 60px;
}
.accounting-wrapper .accounting-container .cost-of-epmloyment .cards-container .card .image img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
.accounting-wrapper .accounting-container .free-consult {
  display: flex;
  padding: 0px 64px;
  height: 632px;
  margin-top: 50px;
}
.accounting-wrapper .accounting-container .free-consult .image {
  height: 100%;
  background-image: url("../assets/memberBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: center;
}
.accounting-wrapper .accounting-container .free-consult .image img {
  height: 100%;
  transform: scaleX(-1) !important;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form {
  background: #FFF;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  width: 88%;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .texts {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .texts div:first-child {
  color: #191C38;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 26.4px */
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input {
  border: 1px solid #CACACA;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input {
  width: 95%;
  height: 100%;
  background: none;
  border: none;
  color: #8F8F8F;
  leading-trim: both;
  text-edge: cap;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input:focus {
  outline: none;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-button {
  cursor: pointer;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #191C38;
  color: #FFF;
  font-family: HelveticaBold, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .agree-terms {
  width: 80%;
  color: #9E9E9E;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .privacy {
  margin-top: -20px;
  color: #9E9E9E;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .free-consult .free-consult-form .contact-us-form .privacy span {
  color: #C29773;
  text-align: center;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accounting-wrapper .accounting-container .lower-blocks-additional {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 64px;
  margin-top: 50px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block {
  display: flex;
  flex-direction: column;
  padding: 22px;
  gap: 10px;
  background-color: white;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count {
  display: flex;
  justify-content: space-between;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:first-child {
  color: #000;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:last-child {
  color: #000;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container {
  display: flex;
  gap: 24px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .title {
  color: #000;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box .description {
  color: #4B4B4B;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title {
  color: #000;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box .description {
  color: #4B4B4B;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .additional {
  margin-top: 20px;
  margin-bottom: 20px;
}
.accounting-wrapper .accounting-container .lower-blocks-additional .additional .additional-text div {
  color: #191C38;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}
.accounting-wrapper .content .image {
  display: none;
}

@media (min-width: 630px) and (max-width: 830px) {
  .accounting-container {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
    margin-bottom: 70px !important;
  }
  .accounting-container .accounting-guide {
    display: flex;
    flex-direction: column;
    gap: 24px !important;
    padding: 0px 0px !important;
  }
  .accounting-container .accounting-guide .accounting-baner {
    display: flex;
    justify-content: space-between;
    height: 50vh !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    padding-left: 16px !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:first-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 90% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:last-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
  }
  .accounting-container .accounting-guide .accounting-baner .content .leave-a-request {
    cursor: pointer;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    width: 469px;
    width: 100% !important;
    flex-shrink: 0;
    background: #191C38;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .accounting-guide .accounting-baner .content .leave-a-request svg {
    transform: rotate(90deg);
  }
  .accounting-container .accounting-guide .accounting-baner .image {
    width: 50% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .image img {
    height: 100%;
    width: 100%;
  }
  .accounting-container .accounting-guide .guide-blocks {
    display: grid !important;
    gap: 8px !important;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)) !important;
    padding: 30px 16px !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block {
    display: flex;
    background: #FFF;
    width: 100% !important;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block div {
    color: #1F1E1E !important;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment {
    padding: 30px 16px !important;
    display: flex;
    flex-direction: column;
    gap: 24px !important;
  }
  .accounting-container .cost-of-epmloyment .title {
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .cost-of-epmloyment .title div:first-child {
    color: #191C38;
    font-family: HelveticaBold, sans-serif;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 57.6px */
  }
  .accounting-container .cost-of-epmloyment .title div:last-child {
    color: #707070;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment .cards-container {
    width: 100%;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    gap: 16px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
    width: 50%;
    background: #FFF;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .count {
    color: #D3D3D3;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:last-child {
    color: #4B4B4B;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-top: 0px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image {
    width: 50%;
    background-color: #fff;
    padding: 24px 60px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
  }
  .accounting-container .free-consult {
    display: flex;
    padding: 0px 16px !important;
    max-height: 480px !important;
  }
  .accounting-container .free-consult .image {
    height: 100%;
    background-image: url("../assets/memberBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 46% !important;
    display: flex;
    justify-content: center;
  }
  .accounting-container .free-consult .image img {
    height: 100%;
  }
  .accounting-container .free-consult .free-consult-form {
    background: #FFF;
    width: 54% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px !important;
    flex-shrink: 0;
    width: 88%;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts div:first-child {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input {
    border: 1px solid #CACACA;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input svg {
    width: 20px;
    height: 20px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input {
    width: 95%;
    height: 100%;
    background: none;
    border: none;
    color: #8F8F8F;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input:focus {
    outline: none;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-button {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #191C38;
    color: #FFF;
    font-family: HelveticaBold, serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .agree-terms {
    width: 100% !important;
    color: #9E9E9E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy {
    margin-top: -20px;
    color: #9E9E9E;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy span {
    color: #C29773;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .lower-blocks-additional {
    display: flex;
    flex-direction: column;
    gap: 46px !important;
    padding: 0px 16px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block {
    display: flex;
    flex-direction: column;
    padding: 16px !important;
    gap: 24px !important;
    background-color: white;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 25px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:last-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container {
    display: flex;
    gap: 24px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box .description {
    color: #4B4B4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box .description {
    color: #4B4B4B;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .additional .additional-text div {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
}
@media (min-width: 830px) and (max-width: 1300px) {
  .accounting-container {
    display: flex;
    flex-direction: column;
    gap: 40px !important;
    margin-bottom: 70px !important;
  }
  .accounting-container .accounting-guide {
    display: flex;
    flex-direction: column;
    gap: 60px !important;
    padding: 0px 0px !important;
  }
  .accounting-container .accounting-guide .accounting-baner {
    display: flex;
    justify-content: space-between;
    height: 70vh !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:first-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 90% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:last-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
  }
  .accounting-container .accounting-guide .accounting-baner .content .leave-a-request {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    width: 469px;
    width: 100% !important;
    flex-shrink: 0;
    background: #191C38;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .accounting-guide .accounting-baner .image {
    width: 50% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .image img {
    height: 100%;
    width: 100%;
  }
  .accounting-container .accounting-guide .guide-blocks {
    display: grid !important;
    gap: 8px !important;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)) !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block {
    display: flex;
    background: #FFF;
    width: 100% !important;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block div {
    color: #1F1E1E !important;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment {
    padding: 0px 64px !important;
    display: flex;
    flex-direction: column;
    gap: 24px !important;
  }
  .accounting-container .cost-of-epmloyment .title {
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .cost-of-epmloyment .title div:first-child {
    color: #191C38;
    font-family: HelveticaBold, sans-serif;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 57.6px */
  }
  .accounting-container .cost-of-epmloyment .title div:last-child {
    color: #707070;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment .cards-container {
    width: 100%;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    gap: 16px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
    width: 50%;
    background: #FFF;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .count {
    color: #D3D3D3;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:last-child {
    color: #4B4B4B;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-top: 0px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image {
    width: 50%;
    background-color: #fff;
    padding: 24px 60px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
  }
  .accounting-container .free-consult {
    display: flex;
    padding: 0px 64px !important;
    max-height: 480px !important;
    margin-top: 70px !important;
  }
  .accounting-container .free-consult .image {
    height: 100%;
    background-image: url("../assets/memberBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 46% !important;
    display: flex;
    justify-content: center;
  }
  .accounting-container .free-consult .image img {
    height: 100%;
  }
  .accounting-container .free-consult .free-consult-form {
    background: #FFF;
    width: 54% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px !important;
    flex-shrink: 0;
    width: 88%;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts div:first-child {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input {
    border: 1px solid #CACACA;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input svg {
    width: 20px;
    height: 20px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input {
    width: 95%;
    height: 100%;
    background: none;
    border: none;
    color: #8F8F8F;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input:focus {
    outline: none;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-button {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #191C38;
    color: #FFF;
    font-family: HelveticaBold, serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .agree-terms {
    width: 100% !important;
    color: #9E9E9E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy {
    margin-top: -20px;
    color: #9E9E9E;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy span {
    color: #C29773;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .lower-blocks-additional {
    display: flex;
    flex-direction: column;
    gap: 46px !important;
    padding: 0px 64px !important;
    margin-top: 70px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block {
    display: flex;
    flex-direction: column;
    padding: 16px !important;
    gap: 24px !important;
    background-color: white;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 25px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:last-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container {
    display: flex;
    gap: 24px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box .description {
    color: #4B4B4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box .description {
    color: #4B4B4B;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .additional .additional-text div {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
}
@media (min-width: 830px) and (max-width: 1024px) {
  .accounting-container .accounting-guide .accounting-baner {
    height: 600px !important;
  }
}
@media (max-width: 630px) {
  .accounting-container {
    display: flex;
    flex-direction: column;
    gap: 64px !important;
    padding-top: 23px !important;
    margin-bottom: 70px !important;
    padding-top: 0px !important;
  }
  .accounting-container .accounting-guide {
    display: flex;
    flex-direction: column;
    gap: 40px !important;
    padding: 0px 16px !important;
    padding-left: 0px !important;
  }
  .accounting-container .accounting-guide .accounting-baner {
    height: auto !important;
    display: flex;
    justify-content: space-between;
  }
  .accounting-container .accounting-guide .accounting-baner .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    padding-left: 16px !important;
    gap: 24px !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
    width: 100% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:first-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 24px !important;
    width: 100% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .title div:last-child {
    color: #191C38;
    font-family: Helvetica;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
    width: 100% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .content .leave-a-request {
    display: flex;
    padding: 16px !important;
    justify-content: space-between;
    align-items: center;
    width: 469px;
    width: 100% !important;
    flex-shrink: 0;
    background: #191C38;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .accounting-guide .accounting-baner .content .image {
    display: block;
    width: 100% !important;
  }
  .accounting-container .accounting-guide .accounting-baner .image {
    width: 50% !important;
    display: none;
  }
  .accounting-container .accounting-guide .accounting-baner .image img {
    height: 100%;
    width: 100%;
  }
  .accounting-container .accounting-guide .guide-blocks {
    display: grid !important;
    gap: 7px !important;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)) !important;
    padding: 16px 0 0 16px !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block {
    display: flex;
    background: #FFF;
    width: 100% !important;
    min-height: 150px;
    padding: 16px !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px !important;
  }
  .accounting-container .accounting-guide .guide-blocks .guide-block div {
    color: #1F1E1E !important;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment {
    padding: 0px 16px !important;
    display: flex;
    flex-direction: column;
    gap: 24px !important;
  }
  .accounting-container .cost-of-epmloyment .title {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .cost-of-epmloyment .title div:first-child {
    color: #191C38;
    font-family: HelveticaBold, sans-serif;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 57.6px */
  }
  .accounting-container .cost-of-epmloyment .title div:last-child {
    color: #707070;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .cost-of-epmloyment .cards-container {
    width: 100%;
    display: flex;
    margin-top: 0px !important;
    flex-direction: column;
    gap: 16px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px !important;
    width: 100% !important;
    background: #FFF;
    gap: 24px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .count {
    color: #D3D3D3;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .content .title-card div:last-child {
    color: #4B4B4B;
    font-family: Helvetica;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px !important;
    margin-top: 0px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image {
    width: 100% !important;
    background-color: #fff;
    padding: 16px !important;
  }
  .accounting-container .cost-of-epmloyment .cards-container .card .image img {
    border-radius: 24px;
    width: 77% !important;
    height: auto !important;
  }
  .accounting-container .free-consult {
    display: flex;
    padding: 0px 16px !important;
    height: auto !important;
    margin-top: 0px !important;
  }
  .accounting-container .free-consult .image {
    height: 100%;
    background-image: url("../assets/memberBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 46% !important;
    display: flex;
    justify-content: center;
    display: none !important;
  }
  .accounting-container .free-consult .image img {
    height: 100%;
  }
  .accounting-container .free-consult .free-consult-form {
    padding: 16px 0px;
    background: #FFF;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px !important;
    flex-shrink: 0;
    width: 88%;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .texts div:first-child {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px !important;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input {
    border: 1px solid #CACACA;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input svg {
    width: 20px;
    height: 20px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input {
    width: 95%;
    height: 100%;
    background: none;
    border: none;
    color: #8F8F8F;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-input input:focus {
    outline: none;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-button {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #191C38;
    color: #FFF;
    font-family: HelveticaBold, serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .form .form-button svg {
    width: 24px;
    height: 20px;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .agree-terms {
    width: 100% !important;
    color: #9E9E9E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy {
    margin-top: -20px;
    color: #9E9E9E;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .free-consult .free-consult-form .contact-us-form .privacy span {
    color: #C29773;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .accounting-container .lower-blocks-additional {
    display: flex;
    flex-direction: column;
    gap: 46px !important;
    padding: 0px 16px !important;
    margin-top: 0px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block {
    display: flex;
    flex-direction: column;
    padding: 16px !important;
    gap: 21px !important;
    background-color: white;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:first-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 25px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .count div:last-child {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
    display: none;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container {
    display: flex;
    flex-direction: column !important;
    gap: 16px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 13px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .left-text .secr-box .description {
    color: #4B4B4B;
    font-family: HelveticaLight, sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title {
    color: #000;
    font-family: HelveticaBold;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
  }
  .accounting-container .lower-blocks-additional .lower-blocks-container .lower-block .text-container .right-text .title-box .description {
    color: #4B4B4B;
    font-family: HelveticaLight, sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .accounting-container .lower-blocks-additional .additional {
    margin: 0 !important;
  }
  .accounting-container .lower-blocks-additional .additional .additional-text div {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
  }
}

/*# sourceMappingURL=accounting.css.map */
