.areas-wrapper {
    .areas-container {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 64px 0px;

        .areas-baner-guide {
            display: flex;
            flex-direction: column;
            gap: 60px;

            .areas-baner {
                display: flex;
                justify-content: space-between;
                height: 70vh;
                gap: 40px;
                padding: 64px 64px 0px 0px;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding-left: 64px;
                    gap: 24px;
                    width: 50%;

                    .title {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 90%;
                            margin-top: 64px;
                        }
                    }


                    .image {
                        display: none;

                        img {
                            display: none;
                        }
                    }

                    .leave-a-request {
                        cursor: pointer;
                        display: flex;
                        padding: 24px;
                        justify-content: space-between;
                        align-items: center;
                        width: 73%;
                        flex-shrink: 0;
                        background: #191C38;

                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                    }

                }

                .image {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        height: 100%;
                    }
                }

            }
        }

        .areas-title {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 70px 64px 64px 64px;

            div:first-child {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                /* 57.6px */
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .text {
                    color: #575757;
                    font-family: Helvetica;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .card-container {
            display: flex;
            padding: 0px 64px;
            flex-wrap: wrap;
            width: 100%;
            gap: 24px 32px;
        }

        .get-consult-box {
            width: 100%;
            padding: 64px 0px;
        }

        .contact-us {
            background: #FFF;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 64px 0px;

            .contact-us-form {
                display: flex;
                padding: 64px 16px 64px 16px;
                flex-direction: column;
                align-items: center;
                gap: 48px;
                flex-shrink: 0;

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 23px;

                    div:first-child {
                        color: #191C38;
                        leading-trim: both;
                        text-align: center;
                        text-edge: cap;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 28.8px */
                    }

                    div:last-child {
                        color: #575757;
                        font-family: Helvetica;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-align: center;

                    }
                }

                .form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .form-input {
                        border: 1px solid #CACACA;
                        display: flex;
                        padding: 16px;
                        align-items: center;
                        gap: 24px;
                        align-self: stretch;

                        input {
                            width: 95%;
                            height: 100%;
                            background: none;
                            border: none;
                            color: #8F8F8F;
                            leading-trim: both;
                            text-edge: cap;
                            font-family: Helvetica, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.64px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .form-button {
                        display: flex;
                        padding: 16px;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        background: #191C38;
                        color: #FFF;
                        font-family: HelveticaBold, serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .agree-terms {
                    width: 80%;
                    color: #9E9E9E;
                    text-align: center;
                    font-family: Helvetica, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .privacy {
                    margin-top: -20px;
                    color: #9E9E9E;
                    text-align: center;
                    font-family: Helvetica, serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    span {
                        color: #C29773;
                        text-align: center;
                        font-family: Helvetica, serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .areas-wrapper {
        .areas-container {
            .areas-baner-guide {
                display: none;

                .areas-baner {
                    height: 70vh;
                    gap: 40px;

                    .content {
                        width: 49%;
                        padding: 0px 0px 0px 16px;

                        .title {
                            div:first-child {
                                font-size: 64px;
                            }
                        }

                        .image {
                            img {}
                        }

                        .leave-a-request {
                            width: 100%;

                            font-size: 14px;
                        }
                    }

                    .image {
                        img {}
                    }
                }
            }

            .areas-title {
                padding: 35px 16px 64px 16px;

                div:first-child {}

                .description {
                    .text {}
                }
            }

            .card-container {
                display: flex;
                padding: 0px 16px;
                flex-wrap: wrap;
                width: 100%;
                gap: 8px;
            }

            .get-consult-box {
                width: 100%;
                padding: 64px 0px;
            }

            .contact-us {

                .contact-us-form {
                    padding: 32px 64px 32px 64px;
                    gap: 24px;
                    width: 100%;

                    .texts {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        div:first-child {
                            color: #191C38;
                            leading-trim: both;
                            text-align: center;
                            text-edge: cap;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 28.8px */
                        }

                        div:last-child {
                            color: #575757;
                            font-family: Helvetica;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-align: center;

                        }
                    }

                    .form {
                        width: 100%;

                        .form-input {
                            input {

                                &:focus {}
                            }
                        }

                        .form-button {}
                    }

                    .agree-terms {}

                    .privacy {
                        span {}
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .areas-wrapper {
        .areas-container {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 64px 0px;

            .areas-baner-guide {
                gap: 40px;
                display: none;

                .areas-baner {
                    padding-right: 16px;

                    .content {
                        width: 100%;
                        padding: 0px 16px 0px 16px;
                        gap: 24px;
                        height: auto;

                        .title {
                            div:first-child {
                                width: 100%;
                                font-size: 24px;

                                margin-top: 24px;
                            }

                            div:last-child {
                                width: 100%;
                            }
                        }

                        .image {
                            display: block;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }

                        .leave-a-request {
                            padding: 16px;
                            font-style: 14px;

                        }
                    }

                    .image {
                        display: none;

                        img {}
                    }
                }

                .guide-blocks {
                    padding: 0px 16px 64px 16px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;

                    .guide-block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .areas-title {
                padding: 50px 16px 32px 16px;
                gap: 12px;

                div:first-child {
                    font-size: 32px;
                }

                .description {
                    .text {
                        font-size: 18px;
                    }
                }
            }

            .card-container {
                display: flex;
                padding: 0px 16px;
                flex-wrap: wrap;
                width: 100%;
                gap: 24px;
            }

            .get-consult-box {
                width: 100%;
                padding: 32px 0px;
            }

            .contact-us {
                .contact-us-form {
                    padding: 16px 16px 16px 16px;
                    gap: 12px;
                    width: 100%;

                    .texts {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        align-self: flex-start;

                        div:first-child {
                            color: #191C38;
                            leading-trim: both;
                            text-align: start;
                            text-edge: cap;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 28.8px */
                        }

                        div:last-child {
                            display: none;
                            color: #575757;
                            font-family: Helvetica;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-align: center;

                        }
                    }

                    .form {
                        width: 100%;

                        .form-input {
                            input {

                                &:focus {}
                            }
                        }

                        .form-button {}
                    }

                    .agree-terms {
                        padding: 12px 0px 0px 0px;
                    }

                    .privacy {
                        display: none;

                        span {}
                    }
                }
            }
        }
    }
}