.auditing-wrapper {
    .auditing-container {
        display: flex;
        flex-direction: column;

        .auditing-baner-guide {
            display: flex;
            flex-direction: column;
            gap: 60px;

            .auditing-baner {
                display: flex;
                justify-content: space-between;
                height: 80vh;
                gap: 40px;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49%;
                    padding-left: 64px;


                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 90%;
                            /* 57.6px */
                            margin-top: 64px;
                        }

                        div:last-child {
                            color: #616161;
                            font-family: Helvetica, sans-serif;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 68%;
                        }
                    }

                    .image {
                        img {
                            display: none;
                        }
                    }

                    .leave-a-request {
                        cursor: pointer;
                        display: flex;
                        padding: 24px;
                        justify-content: space-between;
                        align-items: center;
                        width: 73%;
                        flex-shrink: 0;
                        background: #191C38;

                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        svg {
                            transform: rotate(90deg);
                        }
                    }

                }


                .image {
                    flex: 1;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

            }

            .guide-blocks {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
                padding: 0 64px;

                .guide-block {
                    display: flex;
                    background: #FFF;
                    width: 100%;
                    padding: 20px;
                    gap: 16px;
                    flex-direction: column;
                    align-items: flex-start;


                    div:first-child {
                        color: #1F1E1E;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        line-height: 30px;

                        font-weight: 400;
                    }

                    div:last-child {
                        color: #717171;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .process {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 128px 64px 64px 64px;

            .title {
                display: none;
            }

            .process-block-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                gap: 24px;

                .process-block-title {

                    display: flex;
                    align-items: flex-end;

                    color: #191C38;
                    font-family: Onest, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background-color: #fff;

                    padding: 24px;
                }

                .process-block {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    gap: 83px;
                    padding: 24px;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 119%;
                        /* 26.18px */
                        letter-spacing: -0.44px;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaRegualr, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .additional {
            padding: 64px 64px 128px 64px;
            display: flex;
            flex-direction: column;
            gap: 48px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 57.6px */
            }

            .content-container {
                display: flex;
                gap: 16px;

                .block {
                    width: 100%;
                    padding: 36px;
                    gap: 16px;
                    display: flex;
                    flex-direction: column;
                    background: #FFF;
                    width: 50%;
                    justify-content: space-between;

                    div:first-child {
                        color: #000;
                        font-family: HelveticaRegular, sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    div:last-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 26.4px */
                    }
                }

                .blocks {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: 50%;

                    .block {
                        height: 100%;
                        padding: 16px;
                        gap: 16px;
                        width: 100%;
                    }
                }
            }
        }

        .other-services {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 128px 64px 64px 64px;

            .process-block-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                gap: 24px;

                .process-block-title {

                    display: flex;
                    align-items: flex-end;

                    color: #191C38;
                    font-family: Onest, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background-color: #fff;

                    padding: 24px;
                }

                .process-block {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    gap: 83px;
                    padding: 24px;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 119%;
                        /* 26.18px */
                        letter-spacing: -0.44px;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaRegualr, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .main-services {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 24px 64px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }

            .guide-blocks {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

                .guide-block {
                    display: flex;
                    background: #FFF;
                    width: 100%;
                    padding: 20px;
                    gap: 16px;
                    flex-direction: column;
                    align-items: flex-start;


                    div:first-child {
                        color: #1F1E1E;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        line-height: 30px;

                        font-weight: 400;
                    }

                    div:last-child {
                        color: #717171;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .numbers {
            display: flex;
            gap: 16px;
            padding: 64px;

            .clients {
                display: flex;
                flex-direction: column;
                padding: 36px;
                width: 50%;
                background-color: #fff;
                justify-content: flex-end;

                div:first-child {
                    color: #000;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 148px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -2.96px;
                }

                div:last-child {
                    color: #4B4B4B;
                    font-family: HelveticaRegular, sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.4px;
                }
            }

            .employees-companies {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 50%;

                .block {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    background-color: #fff;
                    gap: 50px;

                    div:first-child {
                        color: #000;
                        leading-trim: both;
                        text-edge: cap;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -1.12px;
                    }

                    div:last-child {
                        color: #4B4B4B;
                        font-family: HelveticaRegular, sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.4px;
                    }
                }
            }

        }

        .offices {
            display: flex;
            padding: 64px 64px 64px 64px;

            .title {
                color: #000;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                align-self: center;
            }

            .offices-page-title {
                color: #000;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-self: center;
            }

            .countries {
                display: flex;
                gap: 16px;

                .country-block {
                    padding: 24px;
                    background: #FFF;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 74px;
                    flex: 1;

                    img {
                        height: 32px;
                        width: 32px;
                    }



                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #000;
                            leading-trim: both;
                            text-edge: cap;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            /* 38.08px */
                            letter-spacing: -0.64px;
                        }



                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .auditing-wrapper {
        .auditing-container {
            .auditing-baner-guide {
                .auditing-baner {
                    height: 70vh;
                    gap: 40px;

                    .content {
                        width: 49%;
                        padding: 0px 0px 0px 16px;

                        .title {
                            div:first-child {
                                font-size: 32px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }

                        .image {
                            img {}
                        }

                        .leave-a-request {
                            width: 100%;

                            font-size: 14px;
                        }
                    }

                    .image {
                        img {}
                    }
                }

                .guide-blocks {
                    padding: 32px 16px;
                    gap: 8px;

                    .guide-block {
                        font-size: 18px;
                        padding: 16px;

                        line-height: 30px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .process {
                gap: 24px;
                padding: 32px 16px 32px 16px;

                .process-block-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                    gap: 8px;

                    .process-block-title {
                        font-size: 22px;
                    }

                    .process-block {
                        gap: 75px;
                        padding: 16px;

                        div:first-child {}

                        .description {
                            gap: 8px;

                            div:first-child {
                                font-size: 18px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .main-services {

                .title {
                    font-size: 20px;
                }

                .guide-blocks {
                    padding: 32px 16px;
                    gap: 8px;

                    .guide-block {
                        font-size: 18px;
                        padding: 16px;

                        line-height: 30px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .additional {
                padding: 32px 16px 64px 16px;
                gap: 24px;

                .title {
                    font-size: 20px;
                }

                .content-container {
                    gap: 16px;

                    .block {
                        padding: 16px;

                        div:first-child {
                            font-size: 16px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }

                    .blocks {

                        .block {}
                    }
                }
            }

            .main-services {
                gap: 24px;
                padding: 24px 16px;

                .title {
                    font-size: 20px;
                }

                .guide-blocks {
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
                    padding: 0;

                    .guide-blocks {
                        padding: 32px 16px;
                        gap: 8px;

                        .guide-block {
                            font-size: 18px;
                            padding: 16px;

                            line-height: 30px;

                            div:first-child {
                                font-size: 22px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .other-services {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 64px 16px 32px 16px;

                .process-block-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
                    gap: 8px;

                    .process-block-title {
                        font-size: 18px;
                    }

                    .process-block {
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        background-color: #fff;
                        gap: 83px;
                        padding: 24px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            /* 26.18px */
                            letter-spacing: -0.44px;
                        }

                        .description {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            div:first-child {
                                color: #191C38;
                                font-family: HelveticaBold, sans-serif;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 119%;
                                letter-spacing: -0.44px;
                            }

                            div:last-child {
                                color: #6D6D6D;
                                font-family: HelveticaRegualr, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: -0.32px;
                            }
                        }
                    }
                }
            }

            .numbers {
                gap: 8px;
                padding: 32px 16px;

                .clients {
                    justify-content: start;

                    div:first-child {
                        font-size: 64px;
                    }

                    div:last-child {
                        font-size: 16px;
                    }
                }

                .employees-companies {

                    .block {
                        gap: 24px;

                        div:first-child {
                            font-size: 32px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }
                    }
                }

            }

            .offices {
                display: flex;
                padding: 32px 16px 64px 16px;
                flex-direction: column;
                gap: 24px;

                .title {}

                .offices-page-title {
                    align-self: flex-start;
                    font-size: 32px;
                }

                .countries {
                    gap: 14px;


                    .country-block {
                        gap: 24px;

                        img {}

                        .text {
                            div:first-child {}

                            div:last-child {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .auditing-wrapper {
        .auditing-container {
            .auditing-baner-guide {
                gap: 40px;

                .auditing-baner {
                    height: auto;

                    .content {
                        width: 100%;
                        padding: 0px 16px 0px 16px;
                        gap: 24px;

                        .title {
                            div:first-child {
                                width: 100%;
                                font-size: 24px;

                                margin-top: 24px;
                            }

                            div:last-child {
                                width: 100%;
                            }
                        }

                        .image {
                            display: block;

                            img {
                                display: block;
                            }
                        }

                        .leave-a-request {
                            padding: 16px;
                            font-style: 14px;

                            svg {
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .image {
                        display: none;

                        img {}
                    }
                }

                .guide-blocks {
                    padding: 96px 16px 96px 16px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;

                    .guide-block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .process {
                gap: 24px;
                padding: 48px 16px;

                .title {
                    display: flex;
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                .process-block-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
                    gap: 8px;


                    .process-block-title {
                        display: none;
                        font-size: 22px;
                        padding-bottom: 16px;
                    }

                    .process-block {
                        gap: 24px;
                        padding: 16px;

                        div:first-child {}

                        .description {
                            gap: 8px;

                            div:first-child {}

                            div:last-child {}
                        }
                    }
                }
            }

            .additional {
                padding: 48px 16px;
                gap: 24px;

                .title {
                    font-size: 20px;
                    /* 57.6px */
                }

                .content-container {
                    gap: 8px;
                    flex-direction: column;

                    .block {
                        width: 100%;
                        padding: 16px;
                        gap: 16px;

                        div:first-child {
                            font-size: 16px;
                        }

                        div:last-child {
                            font-size: 18px;
                            /* 26.4px */
                        }
                    }

                    .blocks {
                        gap: 8px;
                        width: 100%;

                        .block {
                            padding: 16px;
                            gap: 16px;
                            width: 100%;
                        }
                    }
                }
            }

            .get-consult-box {
                display: none;
            }

            .other-services {
                display: none;
            }

            .main-services {
                padding: 48px 16px;

                .title {
                    font-size: 20px;
                }

                .guide-blocks {
                    padding: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;

                    .guide-block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .numbers {
                gap: 8px;
                padding: 48px 16px;
                flex-direction: column;

                .clients {
                    width: 100%;
                    padding: 16px;
                    justify-content: start;
                    gap: 16px;

                    div:first-child {
                        font-size: 64px;
                    }

                    div:last-child {
                        font-size: 16px;
                    }
                }

                .employees-companies {
                    width: 100%;
                    gap: 8px;

                    .block {
                        gap: 24px;

                        div:first-child {
                            font-size: 32px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }
                    }
                }

            }

            .offices {
                display: flex;
                padding: 32px 16px 96px 16px;
                flex-direction: column;
                gap: 24px;

                .offices-page-title {
                    align-self: start;

                    font-size: 32px;
                }

                .countries {
                    gap: 14px;
                    flex-direction: column;

                    .country-block {
                        gap: 24px;

                        img {}

                        .text {
                            div:first-child {}

                            div:last-child {}
                        }
                    }
                }
            }
        }
    }
}