.bank-acc-wrapper {
    .bank-acc-container {
        display: flex;
        flex-direction: column;

        .bank-baner-guide {
            display: flex;
            flex-direction: column;
            gap: 101px;

            .bank-free-baner {
                display: flex;
                justify-content: space-between;
                height: 80vh;
                gap: 40px;
                padding: 64px 64px 0px 0px;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49%;
                    padding: 0px 0px 0px 64px;


                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 90%;
                            /* 57.6px */
                            margin-top: 64px;
                        }

                        div:last-child {
                            color: #616161;
                            font-family: Helvetica, sans-serif;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 68%;
                        }
                    }

                    .image {
                        img {
                            display: none;
                        }
                    }

                    .leave-a-request {
                        cursor: pointer;
                        display: flex;
                        padding: 24px;
                        justify-content: space-between;
                        align-items: center;
                        width: 73%;
                        flex-shrink: 0;
                        background: #191C38;

                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


                .image {
                    flex: 1;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

            }

            .guide-blocks {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
                padding: 0 64px;

                .guide-block {
                    display: flex;
                    background: #FFF;
                    width: 100%;
                    padding: 20px;
                    gap: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;


                    div:first-child {
                        color: #1F1E1E;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        line-height: 30px;

                        font-weight: 400;
                    }

                    div:last-child {
                        color: #717171;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .banc-learn-more {
            padding: 101px 64px 12px 64px;

            .card-container {
                display: flex;
                gap: 24px;

                .card {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .content {
                        display: flex;
                        flex-direction: column;
                        padding: 24px;
                        gap: 16px;
                        background: #FFF;
                        height: 100%;
                        justify-content: space-between;


                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        div:nth-child(2) {
                            color: #000;
                            font-family: Helvetica;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .descr {
                            color: #717171;
                            font-family: Helvetica;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        padding: 24px;
                        background: #191C38;
                    }
                }
            }
        }

        .percent-hours {
            display: flex;
            justify-content: space-between;
            padding: 64px 64px 94px 64px;
            gap: 24px;

            .time-perc {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                gap: 144px;
                width: 100%;
                padding: 24px;

                .title {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    gap: 16px;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 119%;
                        /* 26.18px */
                        letter-spacing: -0.44px;
                    }

                    div:last-child {
                        color: #6D6D6D;
                        font-family: HelveticaLight, sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.32px;
                    }
                }
            }

        }

        .reliable-partner {
            display: flex;
            justify-content: space-between;
            padding: 96px 64px 64px 64px;
            gap: 16px;

            .title {
                color: #fff;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 45%;
                background: #191C38;
                padding: 16px;
            }

            .blocks-container {
                display: flex;
                gap: 16px;
                height: 210px;

                .block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    padding: 24px;
                    flex: 1;

                    img {
                        height: 24px;
                        width: 24px;
                    }

                    .descr {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .access {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 64px 64px 128px 64px;
            gap: 48px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .blocks-container {
                display: flex;
                gap: 16px;
                height: 210px;
                width: 100%;

                .block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    padding: 24px;
                    flex: 1;

                    img {
                        height: 24px;
                        width: 24px;
                    }

                    .descr {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .our-services {
            display: flex;
            padding: 128px 64px 64px 64px;
            gap: 50px;
            flex-direction: column;

            .title {
                display: flex;
                width: 100%;
                justify-content: space-between;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                div.buttons-container {
                    display: flex;
                    gap: 16px;

                    .button {
                        display: flex;
                        width: 48px;
                        height: 48px;
                        justify-content: center;
                        align-items: center;

                        border-radius: 45px;
                        background: #191C38;
                    }

                    .rotate180deg {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .card-container {
                display: flex;
                gap: 24px;

                .card {
                    display: flex;
                    flex-direction: column;

                    .content {
                        display: flex;
                        flex-direction: column;
                        padding: 24px;
                        gap: 16px;
                        background: #FFF;
                        height: 100%;
                        justify-content: space-between;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        div:last-child {
                            color: #000;
                            font-family: HelveticaRegular, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        padding: 24px;
                        background: #191C38;
                    }
                }
            }
        }

        .no-taxes {
            display: flex;
            padding: 24px 64px 24px 64px;
            margin: 128px 0px 64px 0px;
            gap: 48px;
            background-color: #fff;

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;

                .title {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    div:last-child {
                        color: #191C38;
                        font-family: HelveticaLight, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .list-elem {
                        display: flex;
                        gap: 16px;

                        color: #191C38;
                        font-family: HelveticaLight, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        img {
                            align-self: flex-start;
                        }
                    }
                }
            }

            .procent {
                display: flex;
                flex-direction: column;
                gap: 28px;
                width: 100%;

                .procent-elem {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .number {
                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: #D2D2D2;
                    }

                    .descr {
                        color: #717171;
                        font-family: HelveticaRegular, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }

        .forbse-container {
            display: none;
        }

        .interesting-facts {
            display: flex;
            flex-direction: 48px;
            padding: 64px 64px 64px 64px;
            flex-direction: column;
            gap: 38px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 50.4px */
            }

            .block-fact-container {
                display: flex;
                gap: 24px;
                width: 100%;

                .block-fact {
                    display: flex;
                    width: 100%;
                    padding: 24px;
                    flex-direction: column;
                    gap: 16px;

                    background: #FFF;

                    .elem {
                        display: flex;
                        align-items: center;
                        gap: 16px;


                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }

                        div:last-child {
                            color: #191C38;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 21.6px */
                        }
                    }
                }
            }
        }

        .fortune {
            display: flex;
            flex-direction: column;
            gap: 38px;
            padding: 64px 64px 128px 64px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 50.4px */
            }

            .stat-container {
                display: flex;
                width: 100%;
                gap: 24px;

                .inflation {
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    gap: 34px;
                    width: 100%;

                    .inflation-title {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 26.4px */
                    }

                    img {
                        width: 100%;
                    }
                }

                .stable {
                    width: 100%;

                    display: flex;
                    padding: 24px;
                    flex-direction: column;
                    background-color: #fff;
                    gap: 34px;

                    .stable-title {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 26.4px */
                    }

                    .image-cont {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .blog {
            display: flex;
            flex-direction: column;
            padding: 128px 64px 128px 64px;

            gap: 48px;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 50.4px */
            }

            .blog-card-container {
                display: flex;
                flex-direction: column;

                .blog-card {
                    display: flex;
                    width: 100%;

                    .blog-content {
                        padding: 24px;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 50%;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 38.4px */
                        }

                        div:last-child {
                            color: #8F8F8F;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 28.8px */
                        }
                    }

                    .blog-image {
                        position: relative;
                        width: 50%;

                        img:first-child {
                            width: 100%;
                        }

                        img:last-child {
                            top: 24px;
                            right: 24px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .bank-acc-wrapper {
        .bank-acc-container {
            .bank-baner-guide {
                gap: 20px;

                .bank-free-baner {
                    padding: 16px 16px 0px 0px;
                    height: 70vh;
                    gap: 40px;

                    .content {
                        width: 49%;
                        padding: 0px 0px 0px 16px;

                        .title {
                            div:first-child {
                                font-size: 32px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }

                        .image {
                            img {}
                        }

                        .leave-a-request {
                            width: 100%;

                            font-size: 14px;
                        }
                    }

                    .image {
                        img {}
                    }
                }

                .guide-blocks {
                    padding: 32px 16px;
                    gap: 8px;

                    .guide-block {
                        font-size: 18px;
                        padding: 16px;

                        line-height: 30px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .banc-learn-more {
                padding: 32px 16px 32px 16px;

                .card-container {
                    display: flex;
                    gap: 24px;

                    .card {
                        .content {


                            div:first-child {
                                font-size: 28px;
                            }

                            div:nth-child(2) {
                                color: #000;
                                font-size: 22px;
                            }

                            .descr {
                                font-size: 22px;
                            }
                        }

                        .button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #FFF;
                            font-family: Helvetica;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            padding: 24px;
                            background: #191C38;
                        }
                    }
                }
            }

            .our-goal {
                padding: 32px 16px;

                flex-direction: column;

                .title {
                    font-size: 32px;
                }

                .content {
                    gap: 16px;

                    div:first-child {
                        font-size: 16px;
                    }

                    .list {
                        gap: 16px;

                        .list-elem {
                            font-size: 18px;
                        }
                    }
                }
            }

            .percent-hours {
                padding: 32px 16px 72px 16px;
                gap: 8px;

                .time-perc {
                    gap: 70px;
                    padding: 16px;

                    .title {
                        font-size: 36px;
                    }

                    .content {
                        gap: 16px;

                        div:first-child {
                            font-size: 20px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }
                    }
                }

            }

            .get-consult-block {
                padding: 0px 0px 64px 0px;
            }

            .forbse-container {
                .forbse {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 89px;
                    position: relative;

                    .bg {
                        position: absolute;
                        height: 89px;
                        background-image: url("/src/assets/bank/bank-bg.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }

                    .bout-us {
                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        z-index: 100;
                        white-space: nowrap;

                        padding-left: 92px;
                    }

                    .forbse {
                        z-index: 100;

                        img {
                            height: 70px;
                        }
                    }

                    .read {
                        display: flex;
                        gap: 16px;
                        z-index: 100;
                        align-items: center;
                        padding-right: 92px;


                        img {
                            height: 40px;
                        }

                        color: #FFF;
                        text-edge: cap;
                        font-family: Helvetica;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }


            .reliable-partner {
                padding: 8px 16px 64px 16px;
                flex-direction: column;
                gap: 24px;

                .title {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    padding: 0;
                    background-color: transparent;
                }

                .blocks-container {
                    display: flex;
                    gap: 16px;
                    height: auto;
                    width: auto;

                    .block {
                        padding: 16px;
                        flex: 1;
                        gap: 24px;


                        .descr {

                            div:first-child {
                                color: #191C38;
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .access {
                padding: 32px 16px 64px 16px;
                gap: 24px;

                .title {
                    font-size: 24px;
                }

                .blocks-container {
                    display: flex;
                    gap: 16px;
                    height: fit-content;
                    width: 100%;

                    .block {
                        flex: 1;
                        gap: 24px;

                        img {
                            height: 24px;
                            width: 24px;
                        }

                        .descr {
                            gap: 16px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .our-services {
                display: flex;
                padding: 64px 16px 32px 16px;
                gap: 24px;
                flex-direction: column;

                .title {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    .buttons-container {
                        display: flex;
                        gap: 16px;

                        .button {
                            display: flex;
                            height: 24px;
                            width: 24px;
                            justify-content: center;
                            align-items: center;

                            border-radius: 45px;
                            background: #191C38;
                        }

                        .rotate180deg {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                .card-container {
                    display: flex;
                    gap: 8px;

                    .card {
                        display: flex;
                        flex-direction: column;

                        .content {
                            padding: 16px;
                            gap: 16px;


                            div:first-child {
                                font-size: 18px;
                            }

                            div:last-child {
                                color: #000;
                                font-family: HelveticaRegular, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }

                        .button {
                            font-size: 16px;

                            padding: 12px;
                            background: #191C38;
                        }
                    }
                }
            }

            .no-taxes {
                padding: 32px 16px 32px 16px;
                margin: 64px 0px 32px 0px;
                gap: 48px;
                flex-direction: column;

                .content {
                    gap: 32px;

                    .title {
                        gap: 12px;

                        div:first-child {
                            font-size: 20px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }

                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .list-elem {
                            gap: 16px;

                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;

                            img {}
                        }
                    }
                }

                .procent {
                    width: 100%;

                    .procent-elem {
                        gap: 12px;

                        .number {
                            font-size: 18px;
                        }

                        .line {}

                        .descr {
                            font-size: 14px;
                        }
                    }
                }
            }

            .interesting-facts {
                display: flex;
                flex-direction: 48px;
                padding: 16px 16px 32px 16px;
                flex-direction: column;
                gap: 24px;

                .title {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 50.4px */
                }

                .block-fact-container {
                    display: flex;
                    gap: 24px;
                    width: 100%;

                    .block-fact {
                        display: flex;
                        width: 100%;
                        padding: 24px;
                        flex-direction: column;
                        gap: 16px;

                        background: #FFF;

                        .elem {
                            display: flex;
                            align-items: center;
                            gap: 16px;


                            div:first-child {
                                color: #191C38;
                                font-family: HelveticaBold, sans-serif;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                            }

                            div:last-child {
                                color: #191C38;
                                font-family: HelveticaLight, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                /* 21.6px */
                            }
                        }
                    }
                }
            }

            .fortune {
                gap: 24px;
                padding: 16px 16px 64px 16px;

                .title {
                    font-size: 32px;
                    /* 50.4px */
                }

                .stat-container {
                    width: 100%;
                    gap: 8px;

                    .inflation {
                        padding: 16px;
                        gap: 8px;
                        width: 100%;
                        gap: 12px;

                        .inflation-title {
                            font-size: 14px;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .stable {
                        padding: 16px;
                        gap: 12px;

                        .stable-title {
                            font-size: 14px;
                            /* 26.4px */
                        }

                    }
                }
            }

            .blog {
                display: flex;
                flex-direction: column;
                padding: 64px 16px 64px 16px;

                gap: 24px;

                .title {
                    font-size: 32px;
                }

                .blog-card-container {
                    display: flex;
                    flex-direction: column;

                    .blog-card {
                        display: flex;
                        width: 100%;

                        .blog-content {
                            padding: 16px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }

                        .blog-image {

                            img:first-child {}

                            img:last-child {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 876px) {
    .bank-acc-wrapper {
        .bank-acc-container {
            .bank-baner-guide {
                gap: 40px;

                .bank-free-baner {
                    height: auto;

                    .content {
                        width: 100%;
                        padding: 0px 0px 0px 16px;
                        gap: 24px;

                        .title {
                            div:first-child {
                                width: 100%;
                                font-size: 24px;

                                margin-top: 24px;
                            }

                            div:last-child {
                                width: 100%;
                            }
                        }

                        .image {
                            display: block;

                            img {
                                display: block;
                            }
                        }

                        .leave-a-request {
                            padding: 16px;
                            font-style: 14px;
                            width: 100%;

                            svg {
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .image {
                        display: none;

                        img {}
                    }
                }

                .guide-blocks {
                    padding: 32px 16px 32px 16px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;

                    .guide-block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .banc-learn-more {
                display: flex;
                padding: 16px 16px 16px 16px;

                .card-container {
                    flex-direction: column;
                    gap: 8px;

                    .card {
                        width: 100%;

                        .content {

                            div:first-child {
                                font-size: 20px;
                            }

                            div:nth-child(2) {
                                font-size: 16px;
                            }

                            .descr {
                                font-size: 16px;
                            }
                        }

                        .button {
                            font-size: 16px;
                            padding: 16px;
                        }
                    }

                    .card:last-child {
                        display: none;
                    }
                }
            }

            .our-goal {
                padding: 48px 16px;

                flex-direction: column;
                gap: 16px;

                .title {
                    font-size: 32px;
                }

                .content {
                    gap: 16px;

                    div:first-child {
                        font-size: 16px;
                    }

                    .list {
                        gap: 16px;

                        .list-elem {
                            font-size: 18px;
                        }
                    }
                }
            }

            .percent-hours {
                padding: 48px 16px 32px 16px;
                gap: 8px;
                flex-direction: column;

                .time-perc {
                    gap: 70px;
                    padding: 16px;

                    .title {
                        font-size: 36px;
                    }

                    .content {
                        gap: 16px;

                        div:first-child {
                            font-size: 20px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }
                    }
                }
            }

            .get-consult-block {
                display: none;
                padding: 0px 0px 64px 0px;
            }

            .forbse-container {
                padding: 16px;

                .forbse {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 170px;
                    gap: 24px;
                    flex-direction: column;

                    .bg {
                        height: fit-content;
                        background-image: url("/src/assets/bank/bank-bg.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        flex-direction: column;
                        padding: 16px 16px;
                        align-items: center;
                        gap: 24px;
                    }

                    .bout-us {
                        color: #FFF;
                        font-size: 16px;
                        padding-left: 0px;
                    }

                    .forbse {
                        z-index: 100;
                        height: fit-content;

                        img {
                            height: fit-content;
                        }
                    }

                    .read {
                        padding-right: 0px;


                        img {
                            height: 40px;
                        }
                    }
                }
            }

            .reliable-partner {
                padding: 16px 16px 16px 16px;
                flex-direction: column;
                gap: 24px;

                .title {
                    white-space: nowrap;
                    font-size: 32px;
                }

                .blocks-container {
                    display: flex;
                    gap: 16px;
                    height: auto;
                    width: auto;
                    flex-direction: column;

                    .block {
                        padding: 16px;
                        flex: 1;
                        gap: 36px;

                        .descr {
                            gap: 8px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .access {
                padding: 48px 16px 48px 16px;
                gap: 24px;

                .title {
                    font-size: 24px;
                }

                .blocks-container {
                    display: flex;
                    gap: 8px;
                    height: fit-content;
                    width: 100%;
                    flex-wrap: wrap;

                    .block {
                        flex: 1;
                        gap: 24px;

                        img {
                            height: 24px;
                            width: 24px;
                        }

                        .descr {
                            gap: 16px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .our-services {
                display: flex;
                padding: 96px 16px 48px 16px;
                gap: 24px;
                flex-direction: column;

                .title {
                    div:first-child {}

                    .buttons-container {
                        gap: 8px !important;

                        .button {
                            height: 36px !important;
                            width: 36px !important;
                        }

                        .rotate180deg {}
                    }
                }

                .card-container {
                    display: flex;
                    gap: 8px;
                    flex-direction: column;

                    .card {
                        display: flex;
                        flex-direction: column;

                        .content {
                            padding: 16px;
                            gap: 16px;

                            div:first-child {}

                            div:last-child {}
                        }

                        .button {
                            font-size: 16px;

                            padding: 12px;
                            background: #191C38;
                        }
                    }
                }
            }

            .no-taxes {
                padding: 16px 16px 16px 16px;
                margin: 32px 0px 0px 0px;
                gap: 0px;
                flex-direction: column;
                background-color: transparent;

                .content {
                    background-color: #fff;
                    padding: 16px;
                    gap: 32px;

                    .title {

                        div:first-child {}

                        div:last-child {}

                    }

                    .list {

                        .list-elem {

                            img {}
                        }
                    }
                }

                .procent {
                    background-color: #fff;
                    padding: 48px 16px 16px 16px;

                    .procent-elem {

                        .number {}

                        .line {}

                        .descr {}
                    }
                }
            }

            .interesting-facts {
                padding: 48px 16px;

                .title {
                    font-size: 32px;
                }

                .block-fact-container {
                    flex-direction: column;
                    gap: 14px;

                    .block-fact {
                        padding: 16px;
                        flex-direction: column;
                        gap: 14px;

                        background: #FFF;

                        .elem {
                            div:first-child {
                                font-size: 22px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .fortune {
                gap: 24px;
                padding: 48px 16px 96 16px;

                .title {
                    font-size: 32px;
                }

                .stat-container {
                    width: 100%;
                    gap: 8px;
                    flex-direction: column;

                    .inflation {
                        .inflation-title {}

                        img {}
                    }

                    .stable {
                        padding: 16px;
                        gap: 12px;

                        .stable-title {
                            font-size: 14px;
                            /* 26.4px */
                        }

                    }
                }
            }

            .get-consult {
                padding: 0px 16px;

                .get-consult-form {
                    width: 100%;

                    .contact-us-form {
                        width: 100%;

                        background-color: #fff;
                        padding: 16px;

                        gap: 24px;

                    }

                }
            }

            .blog {
                display: flex;
                flex-direction: column;
                padding: 64px 16px;
                gap: 24px;

                .title {
                    font-size: 32px;
                }

                .blog-card-container {
                    display: flex;
                    gap: 16px;

                    .blog-card {
                        display: flex;
                        width: 100%;
                        flex-direction: column-reverse;

                        .blog-content {
                            padding: 16px;
                            width: 100%;
                            gap: 16px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }

                        }

                        .blog-image {
                            width: 100%;

                            img:first-child {}

                            img:last-child {
                                display: none;
                            }

                        }
                    }
                }
            }

        }
    }
}