.areas-page-wrapper {
    .areas-page-container {
        display: flex;
        flex-direction: column;

        .back-container {
            padding: 48px 64px 12px 64px;
            display: flex;
            justify-content: space-between;

            .back {
                display: flex;
                gap: 24px;
                padding: 12px 24px 12px 12px;
                width: fit-content;
                color: #FFF;
                font-family: Helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;

                background-color: #191C38;
            }

            .share {
                display: flex;
                padding: 12px;
                align-items: center;
                gap: 16px;

                width: fit-content;

                background: #191C38;
            }
        }

        .main-content {
            display: flex;
            padding: 16px 64px 16px 64px;
            gap: 97px;

            .content-left {
                display: flex;
                width: 50%;
                gap: 39px;
                flex-direction: column;

                .block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .big-title {
                        color: #191C38;
                        font-family: Helvetica;
                        font-size: 72px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                    }

                    .title {
                        color: #191C38;
                        font-family: Helvetica;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 57.6px */
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .text {
                            color: #575757;
                            font-family: Helvetica;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 37px;
                        }

                        .broker {
                            display: none;

                        }
                    }
                }
            }

            .content-right {
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: space-between;
                gap: 44px;

                .image {
                    height: 100%;
                    background-size: cover;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .broker {
                    display: flex;
                    height: 364px;
                    width: 100%;

                    .image {
                        height: 100%;
                        background-image: url("../assets/memberBackground.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 45%;
                        display: flex;
                        justify-content: center;

                        img {
                            align-self: flex-end;
                            height: 96%;
                            transform: scaleX(-1) !important;
                        }
                    }

                    .get-consult-form {
                        background: #FFF;
                        width: 55%;
                        display: flex;
                        padding: 24px 24px 24px 24px;
                        align-items: flex-end;

                        .content {
                            display: flex;
                            flex-direction: column;
                            gap: 32px;
                            height: fit-content;

                            .title-description {
                                display: flex;
                                flex-direction: column;
                                gap: 18px;

                                .title {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 16px;

                                    div:first-child {
                                        color: #939393;
                                        font-family: Helvetica;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                    }

                                    div:last-child {
                                        color: #191C38;
                                        leading-trim: both;
                                        text-edge: cap;
                                        font-family: Helvetica;
                                        font-size: 24px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                    }
                                }

                                .description {
                                    color: #191C38;
                                    font-family: Helvetica;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }

                            .buttons {
                                display: flex;
                                flex-direction: column;
                                gap: 16px;

                                .button-white {
                                    display: flex;
                                    padding: 16px;
                                    justify-content: center;
                                    color: #000;
                                    font-family: Helvetica;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.64px;
                                    border: 1px solid #CACACA;
                                }

                                .button-brown {
                                    display: flex;
                                    padding: 16px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 24px;
                                    align-self: stretch;
                                    color: #FFF;
                                    font-family: Helvetica;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.64px;
                                    background: #C29773;
                                }
                            }
                        }
                    }
                }
            }
        }

        .lower-container {
            display: flex;
            flex-direction: column;
            gap: 55px;
            padding: 32px 64px 16px 64px;

            .block {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .title {
                    color: #191C38;
                    font-family: Helvetica;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    /* 57.6px */
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .text {
                        color: #575757;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 37px;
                    }
                }
            }
        }

        .get-consult-box {
            padding: 55px 0px 85px 0px;
        }
    }
}


@media (max-width: 1300px) {
    .areas-page-wrapper {
        .areas-page-container {

            .back-container {
                padding: 16px 16px 24px 16px;

                .back {}

                .share {}
            }

            .main-content {
                display: flex;
                padding: 16px 16px 32px 16px;
                gap: 62px;

                .content-left {
                    width: 100%;
                    gap: 24px;

                    .block {
                        gap: 24px;

                        .big-title {
                            font-size: 48px;
                        }

                        .title {
                            font-size: 24px;
                        }

                        .description {
                            gap: 24px;

                            .text {
                                font-size: 16px;
                                line-height: normal;
                            }

                            .image {
                                height: 414px;
                                background-size: cover;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            .image:last-child {
                                height: 414px;
                                background-size: cover;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin-top: 16px;
                            }
                        }

                        .broker {
                            display: flex !important;
                            height: fit-content;
                            width: 100%;

                            .image {
                                height: 100%;
                                background-image: url("../assets/memberBackground.png");
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 35%;
                                display: flex;
                                justify-content: center;

                                img {
                                    align-self: flex-end;
                                    height: 240px;
                                    transform: scaleX(-1) !important;
                                }
                            }

                            .get-consult-form {
                                background: #FFF;
                                width: 100%;
                                display: flex;
                                padding: 24px 24px 24px 24px;
                                justify-content: space-between;

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 24px;
                                    height: fit-content;
                                    width: 100%;
                                    justify-content: space-between;
                                    height: 100%;

                                    .title-description {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 16px;

                                        .title {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 16px;

                                            div:first-child {
                                                font-size: 14px;
                                            }

                                            div:last-child {
                                                font-size: 22px;
                                            }
                                        }

                                        .description {
                                            color: #191C38;
                                            font-family: Helvetica;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                        }
                                    }

                                    .buttons {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 16px;

                                        .button-white {
                                            display: flex;
                                            padding: 16px;
                                            justify-content: center;

                                            color: #000;
                                            font-family: Helvetica;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.56px;
                                            border: 1px solid #CACACA;
                                            flex: 1;
                                        }

                                        .button-brown {
                                            display: flex;
                                            padding: 16px;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 24px;
                                            align-self: stretch;

                                            color: #FFF;
                                            font-family: Helvetica;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.56px;
                                            background: #C29773;
                                            flex: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .content-right {
                    display: none;
                }
            }

            .lower-container {
                display: flex;
                flex-direction: column;
                gap: 64px;
                padding: 32px 16px;

                .block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .title {
                        color: #191C38;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .text {
                            color: #575757;
                            font-family: Helvetica;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .get-consult-box {
                padding: 44px 0px 84px 0px;
            }
        }
    }
}

@media (max-width: 876px) {
    .areas-page-wrapper {
        .areas-page-container {
            .back-container {
                padding: 16px 16px 24px 16px;

                .back {}

                .share {}
            }

            .main-content {
                display: flex;
                padding: 16px 16px 32px 16px;
                gap: 62px;

                .content-left {
                    width: 100%;
                    gap: 24px;

                    .block {
                        gap: 24px;

                        .big-title {
                            font-size: 48px;
                        }

                        .title {
                            font-size: 24px;
                        }

                        .description {
                            gap: 24px;

                            .text {
                                font-size: 16px;
                                line-height: normal;
                            }

                            .image {
                                height: 414px;
                                background-size: cover;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            .image:last-child {
                                height: 414px;
                                background-size: cover;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin-top: 16px;
                            }

                            .bedroom {}
                        }

                        .broker {
                            display: flex;
                            height: fit-content;
                            width: 100%;
                            flex-direction: column;

                            .image {
                                height: 100%;
                                width: 100%;
                                background-image: url("../assets/memberBackground.png");
                                background-repeat: no-repeat;
                                background-size: cover;
                                display: flex;
                                justify-content: center;

                                img {
                                    align-self: flex-end;
                                    height: 240px;
                                    transform: scaleX(-1) !important;
                                }
                            }

                            .get-consult-form {
                                background: #FFF;
                                width: 100%;
                                display: flex;
                                padding: 24px 24px 24px 24px;
                                justify-content: space-between;

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 24px;
                                    height: fit-content;
                                    width: 100%;
                                    justify-content: space-between;
                                    height: 100%;

                                    .title-description {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 16px;

                                        .title {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 16px;

                                            div:first-child {
                                                font-size: 14px;
                                            }

                                            div:last-child {
                                                font-size: 22px;
                                            }
                                        }

                                        .description {
                                            color: #191C38;
                                            font-family: Helvetica;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                        }
                                    }

                                    .buttons {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 16px;

                                        .button-white {
                                            display: flex;
                                            padding: 16px;
                                            justify-content: center;

                                            color: #000;
                                            font-family: Helvetica;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.56px;
                                            border: 1px solid #CACACA;
                                            flex: 1;
                                        }

                                        .button-brown {
                                            display: flex;
                                            padding: 16px;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 24px;
                                            align-self: stretch;

                                            color: #FFF;
                                            font-family: Helvetica;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            letter-spacing: 0.56px;
                                            background: #C29773;
                                            flex: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .content-right {
                    display: none;
                }
            }

            .lower-container {
                display: flex;
                flex-direction: column;
                gap: 64px;
                padding: 16px 32px;

                .block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .title {
                        color: #191C38;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .text {
                            color: #575757;
                            font-family: Helvetica;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .get-consult-box {
                padding: 44px 0px 60px 0px;
            }
        }
    }
}