.support-chat{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  .support-icon{
    cursor: pointer;
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #C29773;
    box-shadow: 0px 2px 31.1px -1px rgba(25, 28, 56, 0.10);
  }
  .chat-window{
    width: 20vw;
    .header{
      justify-content: space-between;
      display: flex;
      padding: 24px;
      align-items: center;
      gap: 16px;
      background: #191C38;
      &>svg{
        cursor: pointer;
      }
      .name{
        display: flex;
        align-items: center;
        gap: 16px;
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: HelveticaBold, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 0px; /* 0% */
      }
    }
    .chat-area{
      display: flex;
      min-height: 50vh;
      max-height: 50vh;
      overflow: auto;
      padding: 24px;
      flex-direction: column;
      gap: 16px;
      flex-shrink: 0;
      background: white;
      position: relative;
      .chat-empty{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        .tittle{
          color: #000;
          leading-trim: both;
          text-edge: cap;
          font-family: HelveticaBold, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 0px; /* 0% */
        }
        .desc{
          color: #9C9C9C;
          leading-trim: both;
          text-edge: cap;
          font-family: Helvetica, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
        }
      }
      .chat-messages{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .message{
          display: flex;
          flex-wrap: wrap;
          height: max-content;
          .my-message{
            max-width: 70%;
            margin-left: auto;
            display: inline-flex;
            padding: 16px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 4px 0 4px 4px;
            background: #191C38;
            color: #FFF;
            word-break:break-all;
            leading-trim: both;
            text-edge: cap;
            font-family: HelveticaLight, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
          }
          .bot-message,.broker-message{
            display: flex;
            gap: 5px;
            max-width:80%;
            .image{
              padding: 7px;
              height: 45px;
              border-radius: 100px;
              background: #C29773;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .message-wrapper{
              display: flex;
              width: 100%;
              flex-direction: column;
              gap: 5px;
              .name{
                color: #8A8A8A;
                leading-trim: both;
                text-edge: cap;
                font-family: HelveticaBold, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
              }
              .message{
                max-width: 100%;
                width: max-content;
                height: max-content;
                word-break: break-word;
                display: inline-flex;
                padding: 16px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 0px 4px 4px 4px;
                background: #F1F1F1;
                color: #8A8A8A;
                leading-trim: both;
                text-edge: cap;
                font-family: HelveticaLight, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .chat-input{
      width: 100%;
      background: #F1F1F1;
      display: flex;
      padding: 24px;
      align-items: center;
      gap: 10px;
      input{
        flex: 1;
        border: none;
        outline: none;
        color: #191C38;
        leading-trim: both;
        text-edge: cap;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        background: none;
        font-weight: 400;
        line-height: 0px; /* 0% */
        &::placeholder {
          color: #999999; /* Adjust the color to your preference */
        }
      }
      svg{
        cursor: pointer;
      }
    }
  }
}