.cons-free-wrapper {
    .cons-free-container {
        display: flex;
        flex-direction: column;

        .page-title {
            color: #191C38;
            font-family: Helvetica;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }

        .cons-baner-guide {
            display: flex;
            flex-direction: column;
            gap: 101px;

            .cons-free-baner {
                display: flex;
                justify-content: space-between;
                height: 80vh;
                gap: 40px;
                padding: 64px 64px 0px 0px;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49%;
                    padding: 0px 0px 0px 64px;


                    .title {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #191C38;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 90%;
                            /* 57.6px */
                            margin-top: 64px;
                        }

                        div:last-child {
                            color: #616161;
                            font-family: Helvetica, sans-serif;
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            width: 68%;
                        }
                    }

                    .image {
                        img {
                            display: none;
                        }
                    }

                    .leave-a-request {
                        cursor: pointer;
                        display: flex;
                        padding: 24px;
                        justify-content: space-between;
                        align-items: center;
                        width: 73%;
                        flex-shrink: 0;
                        background: #191C38;

                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


                .image {
                    flex: 1;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

            }

            .guide-blocks {
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
                padding: 0 64px;

                .guide-block {
                    display: flex;
                    background: #FFF;
                    width: 100%;
                    padding: 20px;
                    gap: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;


                    div:first-child {
                        color: #1F1E1E;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        line-height: 30px;

                        font-weight: 400;
                    }

                    div:last-child {
                        color: #717171;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .registring {
            display: flex;
            flex-direction: column;
            gap: 60px;
            padding: 101px 64px 64px 64px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 12px;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                div:last-child {
                    color: #000;
                    font-family: Helvetica;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .resolve-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));

                grid-column-gap: 20px;
                grid-row-gap: 20px;

                .resolve-card {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    background-color: #fff;
                    gap: 24px;
                    width: 100%;

                    .resolve-title {
                        display: flex;
                        justify-content: space-between;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        div:last-child {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            color: #000;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .resolve-description {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        div:last-child {
                            color: #000;
                            font-family: Helvetica;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

        }

        .table {
            display: flex;
            flex-direction: column;
            padding: 64px 64px 128px 64px;

            .table-row {
                display: flex;
                width: 100%;

                .first-table-row {
                    width: 25%;
                    padding: 16px;
                    color: #000;
                    text-align: center;

                    font-family: HelveticaBold, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background: #fff;

                }

                .second-table-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 37%;
                    padding: 16px;
                    background: #C29773;

                    color: #FFF;
                    text-align: center;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .third-table-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 37%;
                    padding: 16px;
                    background-color: #fff;

                    color: #000;
                    text-align: center;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .table-row {
                .first-table {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25%;

                    color: #191C38;
                    text-align: center;
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 16px;

                    border-top: 2px solid #D2D2D2;
                    border-right: 2px solid #D2D2D2;
                    border-left: 2px solid #D2D2D2;
                }

                .second-table {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 37%;
                    padding: 16px;
                    border-bottom: 2px solid #C29773;
                    border-right: 2px solid #C29773;
                    border-left: 2px solid #C29773;
                    padding: 16px;

                    color: #191C38;
                    text-align: center;
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .third-table {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 37%;
                    padding: 16px;
                    border-bottom: 2px solid #D2D2D2;
                    border-right: 2px solid #D2D2D2;
                    border-left: 2px solid #D2D2D2;

                    color: #191C38;
                    text-align: center;
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .table-row:last-child {
                .first-table {
                    border-bottom: 2px solid #D2D2D2;
                }
            }
        }

        .cost-service {
            display: flex;
            flex-direction: column;
            gap: 48px;

            padding: 128px 64px 32px 64px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 12px;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                div:last-child {
                    color: #191C38;
                    font-family: Helvetica;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }

            .setups-container {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .setup {
                    display: flex;

                    .setup-name {
                        display: flex;
                        align-items: flex-end;
                        padding: 24px;
                        background: #C29773;
                        width: 23%;

                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .setup-content {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        padding: 24px;
                        background: #FFF;
                        flex: 1;

                        .setup-list {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .setup-list-elem {
                                display: flex;
                                align-items: center;
                                gap: 12px;

                                color: #000;
                                font-family: Helvetica;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }

                        }

                        .setup-price {
                            display: flex;
                            gap: 16px;
                            align-items: flex-end;

                            div:first-child {
                                color: #000;
                                font-family: HelveticaBold, sans-serif;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }

                            div:last-child {
                                color: #000;
                                font-family: Helvetica;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }

                    .blue {
                        background: #191C38 !important;
                    }
                }
            }

        }

        .support-discount {
            display: flex;
            gap: 24px;
            padding: 42px 64px;

            .support {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;
                width: 100%;


                background-color: #fff;

                .support-text {
                    color: #000;
                    font-family: Helvetica;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .support-button {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    color: #000;
                    font-family: HelveticaBold,
                        sans-serif;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .discount {
                display: flex;
                flex-direction: column;
                padding: 24px;
                background-color: #fff;
                gap: 24px;
                width: 100%;

                .title {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    div:first-child {
                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    div:last-child {
                        color: #000;
                        font-family: Helvetica;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        span {
                            font-family: HelveticaBold, sans-serif;
                        }
                    }
                }
            }
        }

        .big-info-card {
            display: flex;
            flex-direction: column;
            padding: 32px 64px 128px 64px;
            gap: 32px;

            .info-card-container {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .top-content {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    background: #191C38;
                    gap: 32px;

                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .name {
                            display: flex;
                            align-items: center;
                            gap: 16px;

                            color: #FFF;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            width: fit-content;
                        }

                        .cost {
                            display: flex;
                            gap: 16px;
                            color: #FFF;
                            align-items: center;

                            div {
                                font-family: HelveticaLight, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                span {
                                    font-family: HelveticaBold, sans-serif;
                                }
                            }


                        }
                    }

                    .top-content-descr {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .title-descr {
                            color: #FFF;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .descr-temp-container {
                            display: flex;
                            gap: 32px;

                            .descr-temp {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                color: #FFF;
                                font-family: HelveticaRegular, sans-serif;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }

                .bottom-content {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    background: #FFF;
                    gap: 32px;

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .unactive {
                            display: none !important;
                        }

                        .paragraph {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            div:first-child {
                                color: #000;
                                font-family: HelveticaBold, sans-serif;
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }

                            div:last-child {
                                color: #000;
                                font-family: Helvetica;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }

                    }

                    .show-hide {
                        display: flex;
                        gap: 16px;
                        cursor: pointer;

                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .rotate180 {
                        transform: rotate(180deg);
                    }
                }
            }

            .info-card-button {
                display: flex;
                padding: 16px;
                justify-content: center;
                align-items: center;
                background: #C29773;
                width: 34%;
                align-self: center;
                color: #FFF;
                font-family: Helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19.2px;
            }
        }

        .consult-help {
            display: flex;
            flex-direction: column;

            gap: 128px;
        }

        .transparent {
            padding: 128px 64px 64px 64px;
            gap: 24px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;
                background-color: #fff;
                width: 100%;
                gap: 24px;

                .title {
                    display: flex;
                    justify-content: space-between;

                    div:first-child {
                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 30%;
                    }


                    div:last-child {
                        color: #000;
                        font-family: Helvetica;
                        font-size: 72px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .title-tg {
                    div:first-child {
                        width: 45%;
                    }
                }

                .descr {
                    color: #000;
                    font-family: Helvetica;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    span {
                        text-decoration-line: underline;
                    }
                }
            }

            .image {
                background-image: url("../assets/watch-laptop.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .tg {
                background-image: url("../assets/telegram-big.png");
            }
        }

        .our-services {
            display: flex;
            padding: 64px;
            gap: 50px;
            flex-direction: column;

            .title {
                display: flex;
                width: 100%;
                justify-content: space-between;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                div.buttons-container {
                    display: flex;
                    gap: 16px;

                    .button {
                        display: flex;
                        width: 48px;
                        height: 48px;
                        justify-content: center;
                        align-items: center;

                        border-radius: 45px;
                        background: #191C38;
                    }

                    .rotate180deg {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .card-container {
                display: flex;
                gap: 24px;

                .card {
                    display: flex;
                    flex-direction: column;

                    .content {
                        display: flex;
                        flex-direction: column;
                        padding: 24px;
                        gap: 16px;
                        background: #FFF;
                        height: 100%;
                        justify-content: space-between;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        div:last-child {
                            color: #000;
                            font-family: Helvetica;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;
                        font-family: Helvetica;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        padding: 24px;
                        background: #191C38;
                    }
                }
            }
        }

        .reliable-partner {
            display: flex;
            justify-content: space-between;
            padding: 64px 64px 64px 64px;
            gap: 16px;

            .title {
                color: #fff;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 45%;
                background: #191C38;
                padding: 16px;
            }

            .blocks-container {
                display: flex;
                gap: 16px;
                height: 210px;

                .block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    padding: 24px;
                    flex: 1;

                    img {
                        height: 24px;
                        width: 24px;
                    }

                    .descr {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .access {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 64px 64px 110px 64px;
            gap: 48px;

            .title {
                color: #000;
                font-family: HelveticaBold, sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .blocks-container {
                display: flex;
                gap: 16px;
                height: 210px;
                width: 100%;

                .block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    padding: 24px;
                    flex: 1;

                    img {
                        height: 24px;
                        width: 24px;
                    }

                    .descr {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        div:first-child {
                            color: #000;
                            font-family: HelveticaBold, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 119%;
                            letter-spacing: -0.44px;
                        }

                        div:last-child {
                            color: #6D6D6D;
                            font-family: HelveticaLight, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.32px;
                        }
                    }
                }
            }
        }

        .no-taxes {
            display: flex;
            padding: 40px 64px 40px 64px;
            margin: 128px 0px 0px 0px;
            background-color: #fff;
            gap: 48px;

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;

                .title {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    div:first-child {
                        color: #191C38;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    div:last-child {
                        color: #191C38;
                        font-family: HelveticaLight, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .list-elem {
                        display: flex;
                        gap: 16px;

                        color: #191C38;
                        font-family: HelveticaLight, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        img {
                            align-self: flex-start;
                        }
                    }
                }
            }

            .procent {
                display: flex;
                flex-direction: column;
                gap: 28px;
                width: 100%;

                .procent-elem {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .number {
                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: #D2D2D2;
                    }

                    .descr {
                        color: #717171;
                        font-family: HelveticaRegular, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .cons-free-wrapper {
        .cons-free-container {
            .cons-baner-guide {
                gap: 20px;

                .cons-free-baner {
                    padding: 16px 16px 0px 0px;
                    height: 70vh;
                    gap: 40px;

                    .content {
                        width: 49%;
                        padding: 0px 0px 0px 16px;

                        .title {
                            div:first-child {
                                font-size: 32px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }

                        .image {
                            img {}
                        }

                        .leave-a-request {
                            width: 100%;

                            font-size: 14px;
                        }
                    }

                    .image {
                        img {}
                    }
                }

                .guide-blocks {
                    padding: 32px 16px;
                    gap: 8px;

                    .guide-block {
                        font-size: 18px;
                        padding: 16px;

                        line-height: 30px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .registring {
                padding: 32px 16px 32px 16px;
                gap: 24px;

                .title {
                    div:first-child {
                        font-size: 32px;
                    }

                    div:last-child {
                        font-size: 18px;
                    }
                }

                .resolve-container {
                    grid-column-gap: 8px;
                    grid-row-gap: 8px;

                    .resolve-card {
                        .resolve-title {
                            div:first-child {
                                font-size: 22px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }

                        .resolve-description {
                            div:first-child {
                                font-size: 22px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .table {
                padding: 32px 16px 64px 16px;
            }

            .cost-service {
                padding: 64px 16px 32px 16px;
                gap: 24px;

                .title {
                    div:first-child {
                        font-size: 32px;
                    }

                    div:last-child {
                        font-size: 18px;
                    }
                }

                .setups-container {
                    gap: 16px;

                    .setup {
                        .setup-name {
                            padding: 16px;
                            font-size: 22px;
                        }

                        .setup-content {
                            padding: 16px;

                            .setup-list {
                                .setup-list-elem {}
                            }

                            .setup-price {
                                div:first-child {
                                    font-size: 18px;
                                }

                                div:last-child {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            .support-discount {
                padding: 32px 16px 32px 16px;
                gap: 8px;

                .support {
                    padding: 16px;

                    .support-text {
                        font-size: 16px;
                    }

                    .support-button {

                        img {
                            height: 24px;
                        }

                        font-size: 22px;
                    }
                }

                .discount {
                    padding: 16px;

                    .title {
                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .big-info-card {
                padding: 32px 16px 64px 16px;

                .info-card-container {

                    .top-content {
                        padding: 16px;

                        .title {
                            .name {
                                img {
                                    width: 24px;
                                }

                                font-size: 22px;
                            }

                            .cost {
                                div {
                                    font-size: 16px;

                                    span {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }

                        .top-content-descr {
                            .title-descr {
                                font-size: 22px;
                            }

                            .descr-temp-container {
                                gap: 24px;
                                flex-wrap: wrap;

                                .descr-temp {
                                    font-size: 22px;
                                }
                            }
                        }
                    }

                    .bottom-content {
                        padding: 16px;

                        .content {
                            .unactive {}

                            .paragraph {
                                div:first-child {
                                    font-size: 22px;
                                }

                                div:last-child {
                                    font-size: 16px;
                                }
                            }
                        }

                        .show-hide {
                            font-size: 22px;
                        }
                    }
                }

                .info-card-button {}
            }


            .transparent {
                padding: 64px 16px 32px 16px;

                .content {
                    .title {
                        div:first-child {
                            font-size: 20px;
                            width: 100%;
                        }

                        img {
                            height: 42px;
                        }

                        div:last-child {
                            font-size: 42px;
                        }
                    }

                    .title-tg {
                        div:first-child {}
                    }

                    .descr {
                        font-size: 16px;

                        font-size: 16px;

                        span {}
                    }
                }

                .image {}

                .tg {}
            }

            .our-services {
                padding: 32px 16px 32px 16px;
                gap: 24px;

                .title {
                    div:first-child {
                        font-size: 28px;
                    }

                    div.buttons-container {
                        .button {
                            width: 36px;
                            height: 36px;
                        }

                        .rotate180deg {
                            img {}
                        }
                    }
                }

                .card-container {
                    .card {
                        .content {
                            padding: 16px;

                            div:first-child {
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }

                        .button {
                            padding: 16px;
                            font-size: 16px;
                        }
                    }
                }
            }

            .reliable-partner {
                padding: 48px 16px 64px 16px;
                flex-direction: column;
                gap: 24px;

                .title {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    padding: 0;
                    background-color: transparent;
                }

                .blocks-container {
                    display: flex;
                    gap: 16px;
                    height: auto;
                    width: auto;

                    .block {
                        padding: 16px;
                        flex: 1;
                        gap: 24px;


                        .descr {

                            div:first-child {
                                color: #191C38;
                                font-size: 20px;
                            }

                            div:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .access {
                padding: 32px 16px 64px 16px;
                gap: 32px;

                .title {
                    color: #191C38;
                    font-size: 32px;
                }

                .blocks-container {
                    height: auto;

                    .block {
                        gap: 24px;
                        padding: 16px;
                        justify-content: unset;

                        .descr {
                            gap: 8px;

                            div:first-child {
                                color: #191C38;
                            }

                            div:last-child {}
                        }
                    }
                }
            }


            .no-taxes {
                padding: 16px 16px 64px 16px;
                flex-direction: column;
                margin: 64px 0px 0px 0px;

                .content {
                    gap: 36px;

                    .title {
                        gap: 12px;

                        div:first-child {
                            font-size: 20px;
                        }

                        div:last-child {
                            font-size: 16px;
                        }
                    }

                    .list {
                        .list-elem {
                            font-size: 16px;

                            img {}
                        }
                    }
                }

                .procent {
                    .procent-elem {
                        .number {
                            font-size: 18px;
                        }

                        .line {}

                        .descr {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 830px) {
    .mob-none {
        display: none;
    }

    .cons-free-wrapper {
        .cons-free-container {
            .cons-baner-guide {
                gap: 40px;

                .cons-free-baner {
                    height: auto;

                    .content {
                        width: 100%;
                        padding: 0px 0px 0px 16px;
                        gap: 24px;

                        .title {
                            div:first-child {
                                width: 100%;
                                font-size: 24px;

                                margin-top: 24px;
                            }

                            div:last-child {
                                width: 100%;
                            }
                        }

                        .image {
                            display: block;

                            img {
                                display: block;
                            }
                        }

                        .leave-a-request {
                            padding: 16px;
                            font-style: 14px;

                            svg {
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .image {
                        display: none;

                        img {}
                    }
                }

                .guide-blocks {
                    padding: 0px 16px 64px 16px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;

                    .guide-block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 18px;
                        }
                    }
                }
            }

            .registring {
                padding-top: 0px;

                .title {
                    div:first-child {}

                    div:last-child {}
                }

                .resolve-container {
                    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

                    .resolve-card {
                        .resolve-title {
                            div:first-child {}

                            div:last-child {}
                        }

                        .resolve-description {
                            div:first-child {}

                            div:last-child {}
                        }
                    }
                }
            }


            .table {
                padding-bottom: 32px;

                .table-row {


                    .first-table-row {
                        font-size: 12px;
                    }

                    .second-table-row {
                        font-size: 12px;
                    }

                    .third-table-row {
                        font-size: 12px;
                    }
                }

                .table-row {

                    .first-table {
                        height: 126px;
                        font-size: 12px;

                        div {
                            transform: rotate(270deg);
                        }
                    }

                    .second-table {
                        height: 126px;
                        font-size: 12px;
                    }

                    .third-table {
                        font-size: 12px;
                        height: 126px;
                    }
                }
            }

            .cost-service {
                display: none;
            }

            .support-discount {
                flex-direction: column;
                gap: 10px;

                .support {
                    gap: 120px;

                    .support-text {}

                    .support-button {

                        img {}

                    }
                }

                .discount {
                    padding: 16px;

                    .title {
                        div:first-child {
                            font-size: 22px;
                        }

                        div:last-child {
                            font-size: 16px;

                            span {}
                        }
                    }
                }
            }

            .big-info-card {
                padding-bottom: 32px;

                .info-card-container {
                    gap: 32px;

                    .top-content {
                        padding: 16px;

                        .title {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 16px;

                            .name {
                                img {}

                            }

                            .cost {
                                div {
                                    span {}
                                }
                            }
                        }

                        .top-content-descr {
                            .title-descr {}

                            .descr-temp-container {

                                .descr-temp {}
                            }
                        }
                    }

                    .bottom-content {

                        .content {
                            .unactive {}

                            .paragraph {
                                div:first-child {}

                                div:last-child {}
                            }
                        }

                        .show-hide {}
                    }
                }

                .info-card-button {
                    width: 100%;
                }
            }

            .consult-help {
                display: flex;
                padding: 32px 0px 0px 0px;
                gap: 32px;
            }


            .transparent {
                gap: 8px;
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

                .content {
                    gap: 50px;
                    height: 300px;

                    .title {
                        div:first-child {}

                        img {}

                        div:last-child {}
                    }

                    .title-tg {
                        div:first-child {}
                    }

                    .descr {
                        span {}
                    }
                }

                .image {
                    width: 100%;
                    height: 300px;
                }

                .tg {
                    display: none;
                }

                .mob-tg {
                    display: block;
                    background-image: url("../assets/telegram-big.png");
                }
            }

            .our-services {

                .title {
                    div:first-child {}

                    div.buttons-container {
                        .button {}

                        .rotate180deg {
                            img {}
                        }
                    }
                }

                .card-container {
                    flex-direction: column;
                    gap: 8px;

                    .card:last-child {
                        display: none;

                        .content {

                            div:first-child {}

                            div:last-child {}
                        }

                        .button {}
                    }
                }
            }

            .reliable-partner {
                display: none;
            }

            .access {
                padding: 32px 16px 32px 16px;

                .title {
                    font-size: 16px;
                }

                .blocks-container {
                    padding: 0px 0px 32px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 7px;


                    .block {
                        flex: 1;
                        font-size: 16px;
                        min-width: 170px;

                        .descr {

                            div:first-child {
                                font-size: 22px;
                            }

                            div:last-child {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .no-taxes {
                padding: 16px 16px 16px 16px;
                margin: 58px 0px 0px 0px;
                background-color: transparent;
                gap: 0px;

                .content {
                    padding: 16px;
                    background-color: #fff;
                    gap: 48px;

                    .title {
                        div:first-child {}

                        div:last-child {}
                    }

                    .list {

                        .list-elem {
                            flex-direction: column;

                            img {}
                        }
                    }
                }

                .procent {
                    padding: 16px;

                    background-color: #fff;

                    .procent-elem {
                        .number {}

                        .line {}

                        .descr {}
                    }
                }
            }
        }
    }
}