.feedback{
  padding: 40px;
  background: white;
  .feedback-form{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    .form-input{
      flex: 1;
      display: flex;
      padding: 16px;
      border: 1px solid #CACACA;
      input{
        width: 95%;
        border: none;
        color: #8F8F8F;
        background: none!important;
        leading-trim: both;
        text-edge: cap;
        font-family: Helvetica,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.64px;
        &:focus{
          outline: none;
        }
      }
    }
    .form-button{
      min-width: 5%;
      display: flex;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid #CACACA;
      background: #191C38;

      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: Helvetica,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.64px;
    }
  }
}
@media (max-width: 600px) {

  .feedback{
    padding: 16px;
    .feedback-form{
      flex-wrap: wrap;
      gap: 1px;
      .form-input{
        flex: 50%;
      }
    }
  }
}