footer{
  display: flex;
  padding: 48px 64px;
  justify-content: space-between;
  position: relative;
  background: #191C38;
  .logo-container{
    display: flex;
    max-width: 17%;
    flex-direction: column;
    gap: 24px;
    .description{
     color: #B9BCD8;
     font-family: Helvetica, serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; /* 150% */
   }
    div:last-child{
      color: #FFF;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

    }
  }
  .menu-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 64px;
    .menu{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .tittle{
        color: #FFF;
        font-family: HelveticaBold, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      .menu-option{
        white-space: nowrap;
        color: #B9BCD8;
        font-family: Helvetica, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
  .information{
    width: 40%;
    max-width: 15%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 36px;
    .location{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div:first-child{
        color: #FFF;
        font-family: Helvetica, serif;
        font-size: 16px;
        text-align: right;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      div:last-child{
        color: #FFF;
        text-align: right;
        font-family: HelveticaBold, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    .social{
      display: flex;
      justify-content: flex-end;
      gap: 16px;

    }
    .call-us{

      display: flex;
      padding: 12px 16px 12px 12px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      background: #C29773;
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: HelveticaBold, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.2px; /* 120% */
    }
  }

}