footer{
  display: flex;
  padding: 48px 64px;
  justify-content: space-between;
  position: relative;
  background: #191C38;
  .phone-view{
    display: none;
  }
  .table-view{
    display: none;
  }
  .logo-container{
    display: flex;
    max-width: 17%;
    flex-direction: column;
    gap: 24px;
    .description{
     color: #B9BCD8;
     font-family: Helvetica, serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; /* 150% */
   }
    div:last-child{
      color: #FFF;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

    }
  }
  .menu-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 64px;
    .menu{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .tittle{
        color: #FFF;
        font-family: HelveticaBold, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      .menu-option{
        white-space: nowrap;
        color: #B9BCD8;
        font-family: Helvetica, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
  .information{
    width: max-content;
    display: flex;

    flex-direction: column;
    gap: 36px;
    .location{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div:first-child{
        color: #FFF;
        font-family: Helvetica, serif;
        font-size: 16px;
        text-align: right;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      div:last-child{
        color: #FFF;
        text-align: right;
        font-family: HelveticaBold, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
    .social{
      display: flex;
      justify-content: flex-end;
      gap: 16px;


    }
    .call-us{

      display: flex;
      padding: 12px 16px 12px 12px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      background: #C29773;
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: HelveticaBold, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.2px; /* 120% */
    }
  }

}
@media (max-width: 600px) {
  footer{
    padding: 16px;
    gap: 24px;
    flex-direction: column;
    .logo-container{
      display: none;
    }
    .menu-wrapper{
      display: none;
    }
    .information{
      display: none;
    }
    .table-view{
      display: none!important;
    }
    .phone-view{

      .logo-container{
        max-width: none;display: flex;
        .description{
          color: #B9BCD8;
          font-family: Helvetica,sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }
      .menu-wrapper{
        position: unset;
        flex-wrap: wrap;
        display: flex;
        transform: unset;
        justify-content: space-between;
        gap: 30px;
      }
      .information{
        display: flex;
        width: 100%;
        max-width: none;
        .location{
          div:first-child,div:last-child{
            text-align: center;
          }

        }
        .social{
          justify-content: center;
        }
      }
      display: flex;
      gap: 24px;
      flex-direction: column;
      div:last-child{
        color: #FFF;
        font-family: Helvetica,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      .menu-wrapper{
        justify-content: space-between;
        .menu{
          flex: 1;
          max-width: max-content;
          width: auto;
          .location{
            div:first-child,div:last-child{
              text-align: right;
              color: #FFF;
              font-family: Helvetica,sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }

          }
          .social{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  footer {
    padding: 16px;
    .logo-container {
      display: none;
    }

    .menu-wrapper {
      display: none;
    }

    .information {
      display: none;
    }
    .table-view{
      display: flex;
      width: 100%;
      gap: 30px;
      flex-direction: column;
      .logo-container {
        display: unset;
      }

      .menu-wrapper {
        display: unset;
      }

      .information {
        display: unset;
      }
      .logo-wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .logo-container{
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          max-width: 50%;
        }
        .information{
          display: flex;
          flex-direction: column;
          gap: 20px;
          a{
            order: 1;
          }
          .location{
            order: 2;
          }
          .social{
            order: 3;
          }
        }
      }
      .menu-wrapper{
        display: flex;
        transform: unset;
        position: unset;
        justify-content: center;
      }
    }
  }
}
