.help-orange {
  display: flex;
  padding: 0px 64px;
  height: 449px;
}
.help-orange .help-content {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #191C38;
  padding: 24px;
  background: #C29773 !important;
}
.help-orange .help-content div:first-child {
  color: #FFF;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .help-content .descr {
  color: #FFF;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .help-content .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.help-orange .help-content .list .list-elem {
  color: #FFF;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .free-consult-form {
  background: #FFF;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-orange .free-consult-form .contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  width: 88%;
}
.help-orange .free-consult-form .contact-us-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.help-orange .free-consult-form .contact-us-form .form .form-input {
  border: 1px solid #CACACA;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.help-orange .free-consult-form .contact-us-form .form .form-input input {
  width: 95%;
  height: 100%;
  background: none;
  border: none;
  color: #8F8F8F;
  leading-trim: both;
  text-edge: cap;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.help-orange .free-consult-form .contact-us-form .form .form-input input:focus {
  outline: none;
}
.help-orange .free-consult-form .contact-us-form .form .form-button {
  cursor: pointer;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #C29773 !important;
  color: #FFF;
  font-family: HelveticaBold, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .free-consult-form .contact-us-form .agree-terms {
  width: 80%;
  color: #9E9E9E;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .free-consult-form .contact-us-form .privacy {
  margin-top: -20px;
  color: #9E9E9E;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.help-orange .free-consult-form .contact-us-form .privacy span {
  color: #C29773;
  text-align: center;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1300px) {
  .help-orange {
    padding: 0px 16px;
  }
  .help-orange .help-content {
    width: 50%;
  }
  .help-orange .help-content div:first-child {
    font-size: 18px;
  }
  .help-orange .help-content div:last-child {
    font-size: 18px;
  }
  .help-orange .help-content .list .list-elem {
    font-size: 14px;
  }
  .help-orange .free-consult-form {
    width: 50%;
  }
  .help-orange .free-consult-form .contact-us-form {
    width: 100%;
    padding: 0px 32px;
    gap: 16px;
  }
  .help-orange .free-consult-form .contact-us-form .form .form-input input {
    font-size: 14px;
  }
  .help-orange .free-consult-form .contact-us-form .form .form-button {
    font-size: 14px;
  }
  .help-orange .free-consult-form .contact-us-form .agree-terms {
    font-size: 14px;
  }
}
@media (max-width: 830px) {
  .help-orange {
    flex-direction: column;
    gap: 8px;
    height: auto;
  }
  .help-orange .help-content {
    width: 100%;
    gap: 12px;
  }
  .help-orange .help-content div:first-child {
    font-family: HelveticaBold, sans-serif;
    font-size: 18px;
  }
  .help-orange .help-content div:last-child {
    font-family: HelveticaLight, sans-serif;
    font-size: 14px;
  }
  .help-orange .free-consult-form {
    width: 100%;
  }
  .help-orange .free-consult-form .contact-us-form {
    padding: 16px;
  }
  .help-orange .free-consult-form .contact-us-form .form {
    gap: 8px;
  }
}

/*# sourceMappingURL=getAdvice.css.map */
