.get-consult {
  display: flex;
  padding: 0px 64px;
  height: 632px;
}
.get-consult .image {
  height: 100%;
  background-image: url("../assets/memberBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: center;
}
.get-consult .image img {
  height: 100%;
  transform: scaleX(-1) !important;
}
.get-consult .get-consult-form {
  background: #FFF;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-consult .get-consult-form .contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  width: 88%;
}
.get-consult .get-consult-form .contact-us-form .texts-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.get-consult .get-consult-form .contact-us-form .texts-form .texts {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.get-consult .get-consult-form .contact-us-form .texts-form .texts div:first-child {
  color: #191C38;
  font-family: HelveticaBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 26.4px */
}
.get-consult .get-consult-form .contact-us-form .texts-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.get-consult .get-consult-form .contact-us-form .texts-form .form .form-input {
  border: 1px solid #CACACA;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input {
  width: 95%;
  height: 100%;
  background: none;
  border: none;
  color: #8F8F8F;
  leading-trim: both;
  text-edge: cap;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input:focus {
  outline: none;
}
.get-consult .get-consult-form .contact-us-form .texts-form .form .form-button {
  cursor: pointer;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #191C38;
  color: #FFF;
  font-family: HelveticaBold, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.get-consult .get-consult-form .contact-us-form .agree-terms {
  width: 80%;
  color: #9E9E9E;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.get-consult .get-consult-form .contact-us-form .privacy {
  margin-top: -20px;
  color: #9E9E9E;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.get-consult .get-consult-form .contact-us-form .privacy span {
  color: #C29773;
  text-align: center;
  font-family: Helvetica, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1300px) {
  .get-consult {
    display: flex;
    padding: 0px 16px;
    height: 481px;
  }
  .get-consult .image {
    height: 100%;
    background-image: url("../assets/memberBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .get-consult .image img {
    height: 100%;
    transform: scaleX(-1) !important;
  }
  .get-consult .get-consult-form {
    background: #FFF;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .get-consult .get-consult-form .contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    width: 100%;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .texts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .texts div:first-child {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input {
    border: 1px solid #CACACA;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input {
    width: 95%;
    height: 100%;
    background: none;
    border: none;
    color: #8F8F8F;
    leading-trim: both;
    text-edge: cap;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input:focus {
    outline: none;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-button {
    cursor: pointer;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #191C38;
    color: #FFF;
    font-family: HelveticaBold, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .agree-terms {
    width: 80%;
    color: #9E9E9E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .privacy {
    margin-top: -20px;
    color: #9E9E9E;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .privacy span {
    color: #C29773;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 830px) {
  .get-consult {
    padding: 16px;
    height: auto;
  }
  .get-consult .image {
    display: none;
  }
  .get-consult .get-consult-form {
    background: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 16px 16px;
  }
  .get-consult .get-consult-form .contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    width: 100%;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .texts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .texts div:first-child {
    color: #191C38;
    font-family: HelveticaBold;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 26.4px */
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input {
    border: 1px solid #CACACA;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input {
    width: 95%;
    height: 100%;
    background: none;
    border: none;
    color: #8F8F8F;
    leading-trim: both;
    text-edge: cap;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-input input:focus {
    outline: none;
  }
  .get-consult .get-consult-form .contact-us-form .texts-form .form .form-button {
    cursor: pointer;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #191C38;
    color: #FFF;
    font-family: HelveticaBold, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .agree-terms {
    width: 80%;
    color: #9E9E9E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .privacy {
    margin-top: -20px;
    color: #9E9E9E;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .get-consult .get-consult-form .contact-us-form .privacy span {
    color: #C29773;
    text-align: center;
    font-family: Helvetica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/*# sourceMappingURL=getConsult.css.map */
