@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICA_REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HELVETICA_BOLD.OTF") format("opentype");
}

header {
  position: sticky;
  top: 0;
  padding: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #191C38;
  z-index: 9999999;

  .phone-view {
    display: none;
  }

  .additional {
    display: flex;
    gap: 20px;

    a {
      display: flex;
      align-items: center;

      .phone {
        display: flex;
        align-items: center;
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        gap: 10px;
      }
    }

    .language {
      select {
        padding: 8px 8px 8px 12px;
        color: #000;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 64px;

    .menu-option {

      cursor: pointer;
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: HelveticaBold, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .consulting-dropdown {
    position: absolute;
    background: #FFF;
    left: -16px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 16px;
    justify-content: center;
    padding: 20px 20vh;
    width: calc(100% + 16px);
    top: 92px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .option {
      cursor: pointer;
      display: flex;
      width: 200px;
      padding: 18px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1px solid #CACACA;
      color: #000;
      font-family: HelveticaBold, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      white-space: nowrap; /* Prevent text wrapping */
    }
  }
}

@media (max-width: 600px) {
  header {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo-container {
      display: none;
    }

    .additional {
      display: none;
    }

    .menu {
      display: none !important;
    }

    .phone-view {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      .visible-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .logo-container {
          display: flex;
        }
      }

      .top-menu {
      }

      .phone-menu {
        position: fixed;
        width: 100vw;
        z-index: 10000;
        height: 100vh;
        background: #FFF;
        top: 0;
        padding: 24px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        animation: slide-in-top 0.8s linear 0s 1 normal none;

        @keyframes slide-in-top {

          0% {
            transform: translateX(1000px);
            opacity: 0;
          }

          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }

        .header {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 40px;
        }

        .menu-options {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 60px;
          padding: 5px 10px;

          .menu-option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #191C38;
            leading-trim: both;
            text-edge: cap;
            font-family: Helvetica, sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .language {
          display: flex;
          gap: 40px;

          .lang {
            color: #FFF;
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 120% */
            display: flex;
            padding: 8px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            background: #191C38;

            &.active {
              border-radius: 5px;
              background: #C29773;
              color: #FFF;
              font-family: Helvetica, sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 120% */
            }
          }
        }
      }

    }

  }
}

@media (max-width: 1100px) {

  header {
    .menu {
      display: flex;
      width: max-content;
      gap: 40px;

      .menu-option {
        font-size: 15px;
        flex-wrap: nowrap;
      }


    }

    .additional {
      a {
        .phone {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  header {
    .menu {
      position: unset;
      transform: unset;
      order: 2;

      .menu-option {
        font-size: 14px;
      }
    }

    .additional {
      order: 3;
    }
  }
}