@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICA_REGULAR.OTF") format("opentype");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HELVETICA_BOLD.OTF") format("opentype");
}

header {
  position: sticky;
  top: 0;
  padding: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #191C38;

  .additional {
    display: flex;
    gap: 20px;
    .phone {
      display: flex;
      align-items: center;
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      gap: 10px;
    }

    .language {
      select {
        padding: 8px 8px 8px 12px;
        color: #000;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:focus{
          outline: none;
        }
      }
    }
  }
  .menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 64px;
    .menu-option{
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: HelveticaBold, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}