.attorney-wrapper .attorney-container {
  display: flex;
  flex-direction: column;
}
.attorney-wrapper .attorney-container .attorney-baner-guide {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  gap: 40px;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  padding-left: 64px;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 90%;
  /* 57.6px */
  margin-top: 64px;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:last-child {
  color: #616161;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 68%;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .image img {
  display: none;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .leave-a-request {
  cursor: pointer;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  width: 73%;
  flex-shrink: 0;
  background: #191C38;
  color: #FFF;
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .leave-a-request svg {
  transform: rotate(90deg);
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .image {
  flex: 1;
}
.attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.attorney-wrapper .attorney-container .registering {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 64px 64px 24px 64px;
}
.attorney-wrapper .attorney-container .registering div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 57.6px */
}
.attorney-wrapper .attorney-container .registering div:last-child {
  color: #000;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.attorney-wrapper .attorney-container .question {
  padding: 24px 64px 32px 64px;
}
.attorney-wrapper .attorney-container .question .content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 120px;
  background-color: #fff;
}
.attorney-wrapper .attorney-container .question .content div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 57.6px */
}
.attorney-wrapper .attorney-container .question .content .description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.attorney-wrapper .attorney-container .question .content .description div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  /* 33.32px */
  letter-spacing: -0.56px;
}
.attorney-wrapper .attorney-container .question .content .description div:last-child {
  color: #6D6D6D;
  font-family: HelveticaLight, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.attorney-wrapper .attorney-container .process {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px 64px 64px 64px;
}
.attorney-wrapper .attorney-container .process .title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.attorney-wrapper .attorney-container .process .title div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 57.6px */
}
.attorney-wrapper .attorney-container .process .title div:last-child {
  color: #000;
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.attorney-wrapper .attorney-container .process .process-block-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 24px;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block-title {
  display: flex;
  align-items: flex-end;
  color: #191C38;
  font-family: Onest, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 83px;
  padding: 24px;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  /* 26.18px */
  letter-spacing: -0.44px;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block .description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block .description div:first-child {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: -0.44px;
}
.attorney-wrapper .attorney-container .process .process-block-container .process-block .description div:last-child {
  color: #6D6D6D;
  font-family: HelveticaRegualr, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.attorney-wrapper .attorney-container .required {
  display: flex;
  flex-direction: column;
  padding: 32px 64px 64px 64px;
  gap: 24px;
}
.attorney-wrapper .attorney-container .required .cards {
  display: flex;
  gap: 24px;
}
.attorney-wrapper .attorney-container .required .cards .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  justify-content: space-between;
}
.attorney-wrapper .attorney-container .required .cards .card div:first-child {
  color: #000;
  font-family: HelveticaBold, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 33.6px */
}
.attorney-wrapper .attorney-container .required .cards .card div:last-child {
  color: #4B4B4B;
  font-family: HelveticaRegualr, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}
.attorney-wrapper .attorney-container .required .cards .card-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  background-color: #fff;
  padding: 24px;
}
.attorney-wrapper .attorney-container .required .cards .card-description div {
  color: #4B4B4B;
  font-family: HelveticaRegualr, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}
.attorney-wrapper .attorney-container .important {
  display: flex;
  flex-direction: column;
  padding: 32px 64px 64px 64px;
  gap: 24px;
}
.attorney-wrapper .attorney-container .important .title {
  color: #191C38;
  font-family: HelveticaBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 57.6px */
}
.attorney-wrapper .attorney-container .important .cards {
  display: flex;
  gap: 24px;
}
.attorney-wrapper .attorney-container .important .cards .card {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
}
.attorney-wrapper .attorney-container .important .cards .card div:first-child {
  color: #000;
  font-family: HelveticaBold, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 33.6px */
}
.attorney-wrapper .attorney-container .important .cards .card div:last-child {
  color: #4B4B4B;
  font-family: HelveticaLight, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 26.4px */
}
.attorney-wrapper .attorney-container .help-block {
  padding: 64px 0px 128px 0px;
}

@media (max-width: 1300px) {
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner {
    height: 70vh;
    gap: 40px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content {
    width: 49%;
    padding: 0px 0px 0px 16px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:first-child {
    font-size: 72px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:last-child {
    font-size: 18px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .leave-a-request {
    width: 100%;
    font-size: 14px;
  }
  .attorney-wrapper .attorney-container .registering {
    padding: 64px 16px 24px 16px;
  }
  .attorney-wrapper .attorney-container .registering div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .registering div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .question {
    padding: 12px 16px 32px 16px;
  }
  .attorney-wrapper .attorney-container .question .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 40px;
    background-color: #fff;
  }
  .attorney-wrapper .attorney-container .question .content div:first-child {
    font-size: 72px;
  }
  .attorney-wrapper .attorney-container .question .content .description {
    gap: 16px;
  }
  .attorney-wrapper .attorney-container .question .content .description div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .process {
    gap: 64px;
    padding: 32px 16px 32px 16px;
  }
  .attorney-wrapper .attorney-container .process .title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .attorney-wrapper .attorney-container .process .title div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .process .title div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block-title {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block {
    gap: 75px;
    padding: 16px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block .description {
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block .description div:first-child {
    font-size: 18px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block .description div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .required {
    padding: 32px 16px 32px 16px;
    gap: 24px;
  }
  .attorney-wrapper .attorney-container .required .cards {
    gap: 16px;
  }
  .attorney-wrapper .attorney-container .required .cards .card {
    padding: 36px;
  }
  .attorney-wrapper .attorney-container .required .cards .card div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .required .cards .card div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .required .cards .card-description {
    padding: 36px;
  }
  .attorney-wrapper .attorney-container .required .cards .card-description div {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .important {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    gap: 24px;
  }
  .attorney-wrapper .attorney-container .important .title {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .important .cards {
    display: flex;
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .important .cards .card {
    color: #000;
    gap: 16px;
    font-family: Helvetica;
    font-size: 20px;
  }
  .attorney-wrapper .attorney-container .important .cards .card div:first-child {
    font-size: 20px;
  }
  .attorney-wrapper .attorney-container .important .cards .card div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .help-block {
    padding: 32px 0px 64px 0px;
  }
}
@media (max-width: 768px) {
  .attorney-wrapper .attorney-container .attorney-baner-guide {
    gap: 40px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner {
    height: auto;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content {
    width: 100%;
    padding: 0px 16px 0px 16px;
    gap: 24px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:first-child {
    width: 100%;
    font-size: 24px;
    margin-top: 24px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .title div:last-child {
    width: 100%;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .image {
    display: block;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .image img {
    display: block;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .leave-a-request {
    padding: 16px;
    font-style: 14px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .content .leave-a-request svg {
    transform: rotate(90deg);
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .attorney-free-baner .image {
    display: none;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .guide-blocks {
    padding: 96px 16px 96px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .guide-blocks .guide-block {
    flex: 1;
    font-size: 16px;
    min-width: 170px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .guide-blocks .guide-block div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .attorney-baner-guide .guide-blocks .guide-block div:last-child {
    font-size: 18px;
  }
  .attorney-wrapper .attorney-container .registering {
    padding: 96px 16px 24px 16px;
  }
  .attorney-wrapper .attorney-container .question {
    padding: 12px 16px 48px 16px;
  }
  .attorney-wrapper .attorney-container .question .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 40px;
    background-color: #fff;
  }
  .attorney-wrapper .attorney-container .question .content div:first-child {
    font-size: 80px;
  }
  .attorney-wrapper .attorney-container .question .content .description {
    gap: 16px;
  }
  .attorney-wrapper .attorney-container .question .content .description div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .process {
    gap: 96px;
    padding: 48px 16px 32px 16px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block-title {
    font-size: 22px;
    padding-bottom: 16px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block {
    gap: 24px;
    padding: 16px;
  }
  .attorney-wrapper .attorney-container .process .process-block-container .process-block .description {
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .required {
    padding: 48px 16px 48px 16px;
    gap: 24px;
    display: none;
  }
  .attorney-wrapper .attorney-container .required .cards {
    flex-direction: column;
    gap: 8px;
  }
  .attorney-wrapper .attorney-container .required .cards .card {
    padding: 36px;
    gap: 12px;
  }
  .attorney-wrapper .attorney-container .required .cards .card div:first-child {
    font-size: 22px;
  }
  .attorney-wrapper .attorney-container .required .cards .card div:last-child {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .required .cards .card-description {
    padding: 36px;
  }
  .attorney-wrapper .attorney-container .required .cards .card-description div {
    font-size: 16px;
  }
  .attorney-wrapper .attorney-container .important {
    padding: 48px 16px 48px 16px;
  }
  .attorney-wrapper .attorney-container .important .cards {
    flex-direction: column;
  }
  .attorney-wrapper .attorney-container .help-block {
    padding: 48px 0px 96px 0px;
  }
}

/*# sourceMappingURL=PowerOfAttorney.css.map */
