.marker{
  border-radius: 10px;
  div{
    display: flex;
    border-radius: 5px;

    background: #191C38;
    box-shadow: 0px 2px 67.4px -1px rgba(0, 0, 0, 0.09);
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px; /* 105.556% */
    .price{
      letter-spacing: 1px;
    }
  }
}
.yNHHyP-marker-view{
  cursor: pointer;
}
.real-estate{
  .content{

    height: 70vh;
    padding: 20px 64px;
    display: flex;
    gap: 20px;
    .map{
      width: 50%;
      height: 100%;
    }
    .projects{
      flex: 1;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      gap: 20px;
      overflow-x:hidden ;
      .show-more-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        .show-more{
          cursor: pointer;

          background: #191c38;
          padding: 10px;
          color: #FFF;
          font-family: Helvetica, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

    }

    }
  .down-arrow{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;

  }
}
@media (max-width: 600px) {
  .real-estate{
    .filter{
      display: none;
    }
    .content{
      padding: 36px 16px;

      .map{

      }
      .projects{
        gap: 10px!important;
      }
    }
    .down-arrow svg{
      width: 50px;
    }
  }
}
@media (max-width: 1300px) {
  .real-estate{
    .filter{
      .search{
        flex: 2;
        input{

          background: none;
          font-size: 14px;
        }
      }
      .dropdown{
        font-size: 14px;
      }
    }
    .content{

      padding: 20px 30px;
      .projects{
        gap: 15px;
      }
    }
  }
}
@media (max-width: 870px) {
  .real-estate{
    .filter{
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 5px;
      justify-content: unset;
      .search{
        flex: 100%;
        padding: 12px 8px 12px 16px;

      }
      .dropdown{
        flex: 1;
        flex-wrap: nowrap;
        &:last-child{
          flex: 2;
        }
      }
    }
    .content{
      padding: 20px 16px;
      flex-direction: column;
      height: 130vh;
      .map{
        width: 100%;
        height: 50%;
      }
    }
    .down-arrow{
      position: fixed;
      bottom: 10px;
      right: 10px;
      display: unset;
    }
    .feedback{
     display: none;

    }
  }
}